# Get the Stock Code of the stock
- Stock codes are used because they provide a unique identifier for each stock
- download a pdf file "List_of_Companies_2022.06.24__Website_.pdf" 
from : https://www.bursamalaysia.com/sites/5d809dcf39fba22790cad230/assets/62b573f45b711a4597eb7706/List_of_Companies_2022.06.24__Website_.pdf 

### Import libaries

In [1]:
import tabula
import pandas as pd

In [2]:
# Read the first page and specify the header
dfs = tabula.read_pdf("List_of_Companies_2022.06.24__Website_.pdf", pages='2-25', lattice=True)

# Loop through the list of DataFrames and remove the first two rows from each
dfs = [df.iloc[1:] for df in dfs]

# Concatenate the DataFrames into a single DataFrame
df = pd.concat(dfs, ignore_index=True)

In [3]:
df

,LISTING TEAM IN CHARGE,Unnamed: 0,Unnamed: 1,Unnamed: 2
0,1,7-ELEVEN MALAYSIA HOLDINGS BERHAD,5250,3
1,2,ABF MALAYSIA BOND INDEX FUND,0800EA,2
2,3,ABLE GLOBAL BERHAD,7167,3
3,4,ABLEGROUP BERHAD,7086,2
4,5,ABM FUJIYA BERHAD,5198,2
...,...,...,...,...
996,997,YX PRECIOUS METALS BHD,0250,4
997,998,ZECON BERHAD,7028,1
998,999,ZELAN BERHAD,2283,1
999,1000,ZEN TECH INTERNATIONAL BERHAD,0094,4
1000,1001,ZHULIAN CORPORATION BERHAD,5131,3

In [4]:
# delete columns that are not needed
del df['LISTING TEAM IN CHARGE']
del df['Unnamed: 2']

In [5]:
df

                             Unnamed: 0 Unnamed: 1
0     7-ELEVEN MALAYSIA HOLDINGS BERHAD       5250
1          ABF MALAYSIA BOND INDEX FUND     0800EA
2                    ABLE GLOBAL BERHAD       7167
3                      ABLEGROUP BERHAD       7086
4                     ABM FUJIYA BERHAD       5198
...                                 ...        ...
996              YX PRECIOUS METALS BHD       0250
997                        ZECON BERHAD       7028
998                        ZELAN BERHAD       2283
999       ZEN TECH INTERNATIONAL BERHAD       0094
1000         ZHULIAN CORPORATION BERHAD       5131

[1001 rows x 2 columns]

In [6]:
# rename the column headers
df.rename(columns = {'Unnamed: 0': 'stock_name', 'Unnamed: 1': 'stock_code'}, inplace = True)

In [7]:
df

                             stock_name stock_code
0     7-ELEVEN MALAYSIA HOLDINGS BERHAD       5250
1          ABF MALAYSIA BOND INDEX FUND     0800EA
2                    ABLE GLOBAL BERHAD       7167
3                      ABLEGROUP BERHAD       7086
4                     ABM FUJIYA BERHAD       5198
...                                 ...        ...
996              YX PRECIOUS METALS BHD       0250
997                        ZECON BERHAD       7028
998                        ZELAN BERHAD       2283
999       ZEN TECH INTERNATIONAL BERHAD       0094
1000         ZHULIAN CORPORATION BERHAD       5131

[1001 rows x 2 columns]

### Remove duplicate stock code

In [8]:
df[df['stock_code']=='5235SS']

                            stock_name stock_code
444      KLCC PROPERTY HOLDINGS BERHAD     5235SS
445  KLCC REAL ESTATE INVESTMENT TRUST     5235SS

In [9]:
df = df.drop_duplicates(subset='stock_code')

In [10]:
df[df['stock_code']=='5235SS']

                        stock_name stock_code
444  KLCC PROPERTY HOLDINGS BERHAD     5235SS

In [11]:
df

                             stock_name stock_code
0     7-ELEVEN MALAYSIA HOLDINGS BERHAD       5250
1          ABF MALAYSIA BOND INDEX FUND     0800EA
2                    ABLE GLOBAL BERHAD       7167
3                      ABLEGROUP BERHAD       7086
4                     ABM FUJIYA BERHAD       5198
...                                 ...        ...
996              YX PRECIOUS METALS BHD       0250
997                        ZECON BERHAD       7028
998                        ZELAN BERHAD       2283
999       ZEN TECH INTERNATIONAL BERHAD       0094
1000         ZHULIAN CORPORATION BERHAD       5131

[1000 rows x 2 columns]

### Remove all the delisted stock code

- delisted stock : ['03009', '0400GA', '7206', '6548', '2925', '0401GA', '9474', '0400GB', '7205', '8761']

In [12]:
delisted_stock=['03009', '0400GA', '7206', '6548', '2925', '0401GA', '9474', '0400GB', '7205', '8761']

In [13]:
# remove rows that contain any of the values in the list
df = df[~df['stock_code'].isin(delisted_stock)]
df

                             stock_name stock_code
0     7-ELEVEN MALAYSIA HOLDINGS BERHAD       5250
1          ABF MALAYSIA BOND INDEX FUND     0800EA
2                    ABLE GLOBAL BERHAD       7167
3                      ABLEGROUP BERHAD       7086
4                     ABM FUJIYA BERHAD       5198
...                                 ...        ...
996              YX PRECIOUS METALS BHD       0250
997                        ZECON BERHAD       7028
998                        ZELAN BERHAD       2283
999       ZEN TECH INTERNATIONAL BERHAD       0094
1000         ZHULIAN CORPORATION BERHAD       5131

[990 rows x 2 columns]

# Connect to database
- load stock information(stock code , stock name) into database

### Import libraries

In [14]:
import psycopg2
import pandas as pd
from sqlalchemy import create_engine
from urllib.parse import quote

### Connect to database
- connecting to a PostgreSQL database using the psycopg2 library

##### Steps
1. Create a database in PostgreSQL
2. The connection string follows the standard format for connecting to a PostgreSQL database using SQLAlchemy. It consists of the following elements:

    - 'postgresql://': the dialect and driver for SQLAlchemy to use for the connection.
    - 'postgres': the username to use for the connection.
    - '%s': a placeholder for the password to use for the connection.
    - '@localhost': the hostname of the database server to connect to.
    - '/dividend_investing_no2': the name of the database to connect to.
    - The password for the connection is passed to the quote function from the urllib library, which adds URL encoding to the string (e.g. replacing special characters with %-encoded equivalents). The result of the quote function is then used to replace the %s placeholder in the connection string.

In [15]:
conn_string = 'postgresql://postgres:%s@localhost/dividend_investing_no2'% quote('@SMWHot4')

In [16]:
db = create_engine(conn_string)
conn = db.connect()

###  write a pandas DataFrame (df) to a PostgreSQL database, and then retrieve and print the data stored in the database.

In [17]:
df.to_sql('stock_info', con=conn, if_exists='replace',
          index=False)
conn = psycopg2.connect(conn_string
                        )
conn.autocommit = True
cursor = conn.cursor()

sql1 = '''select * from stock_info;'''
cursor.execute(sql1)
for i in cursor.fetchall():
    print(i)

conn.commit()
conn.close()

('7-ELEVEN MALAYSIA HOLDINGS BERHAD', '5250')
('ABF MALAYSIA BOND INDEX FUND', '0800EA')
('ABLE GLOBAL BERHAD', '7167')
('ABLEGROUP BERHAD', '7086')
('ABM FUJIYA BERHAD', '5198')
('ACE INNOVATE ASIA BERHAD', '03028')
('ACME HOLDINGS BERHAD', '7131')
('ACO GROUP BERHAD', '0218')
('ADVANCE INFORMATION MARKETING BERHAD', '0122')
('ADVANCE SYNERGY BERHAD', '1481')
('ADVANCECON HOLDINGS BERHAD', '5281')
('ADVANCED PACKAGING TECHNOLOGY (M) BHD', '9148')
('ADVENTA BERHAD', '7191')
('AE MULTI HOLDINGS BERHAD', '7146')
('AEMULUS HOLDINGS BERHAD', '0181')
('AEON CO. (M) BHD', '6599')
('AEON CREDIT SERVICE (M) BERHAD', '5139')
('AFFIN BANK BERHAD', '5185')
('AGESON BERHAD', '7145')
('AHB HOLDINGS BERHAD', '7315')
('AHMAD ZAKI RESOURCES BERHAD', '7078')
('AIMFLEX BERHAD', '0209')
('AIRASIA X BERHAD', '5238')
('AJINOMOTO (MALAYSIA) BERHAD', '2658')
('AJIYA BERHAD', '7609')
('AL-`AQAR HEALTHCARE REIT', '5116')
('ALAM MARITIM RESOURCES BERHAD', '5115')
('ALCOM GROUP BERHAD', '2674')
('ALDRICH RESOURCES BERHAD', '0079')
('ALLIANCE BANK MALAYSIA BERHAD', '2488')
('ALLIANZ MALAYSIA BERHAD', '1163')
('ALPHA OCEAN RESOURCES BERHAD', '03051')
('AL-SALAM REAL ESTATE INVESTMENT TRUST', '5269')
('AMANAHRAYA REAL ESTATE INVESTMENT TRUST', '5127')
('AME ELITE CONSORTIUM BERHAD', '5293')
('AMFIRST REAL ESTATE INVESTMENT TRUST', '5120')
('AMLEX HOLDINGS BERHAD', '03011')
('AMMB HOLDINGS BERHAD', '1015')
('AMTEL HOLDINGS BERHAD', '7031')
('AMWAY (MALAYSIA) HOLDINGS BERHAD', '6351')
('ANALABS RESOURCES BERHAD', '7083')
('ANCOM LOGISTICS BERHAD', '0048')
('ANCOM NYLEX BERHAD', '4758')
('ANEKA JARINGAN HOLDINGS BERHAD', '0226')
('ANN JOO RESOURCES BERHAD', '6556')
('ANNUM BERHAD', '5082')
('ANZO HOLDINGS BERHAD', '9342')
('APB RESOURCES BERHAD', '5568')
('APEX EQUITY HOLDINGS BERHAD', '5088')
('APEX HEALTHCARE BERHAD', '7090')
('APM AUTOMOTIVE HOLDINGS BERHAD', '5015')
('APOLLO FOOD HOLDINGS BERHAD', '6432')
('APPASIA BERHAD', '0119')
('A-RANK BERHAD', '7214')
('ARB BERHAD', '7181')
('ARK RESOURCES HOLDINGS BERHAD', '7007')
('ARTRONIQ BERHAD', '0038')
('ASDION BERHAD', '0068')
('ASIA BRANDS BERHAD', '7722')
('ASIA FILE CORPORATION BHD', '7129')
('ASIA MEDIA GROUP BERHAD', '0159')
('ASIA POLY HOLDINGS BERHAD', '0105')
('ASIAN PAC HOLDINGS BERHAD', '4057')
('ASTINO BERHAD', '7162')
('ASTRAL ASIA BERHAD', '7054')
('ASTRAMINA GROUP BERHAD', '03032')
('ASTRO MALAYSIA HOLDINGS BERHAD', '6399')
('AT SYSTEMATIZATION BERHAD', '0072')
('ATA IMS BERHAD', '8176')
('ATLAN HOLDINGS BHD', '7048')
('ATRIUM REAL ESTATE INVESTMENT TRUST', '5130')
('ATTA GLOBAL GROUP BERHAD', '7099')
('AURELIUS TECHNOLOGIES BERHAD', '5302')
('AURORA ITALIA INTERNATIONAL BERHAD', '03037')
('AVILLION BERHAD', '8885')
('AWANBIRU TECHNOLOGY BERHAD', '5204')
('AWC BERHAD', '7579')
('AXIATA GROUP BERHAD', '6888')
('AXIS REAL ESTATE INVESTMENT TRUST', '5106')
('AXTERIA GROUP BERHAD', '7120')
('AYER HOLDINGS BERHAD', '2305')
('AYS VENTURES BERHAD', '5021')
('B.I.G. INDUSTRIES BERHAD', '7005')
('BABA ECO GROUP BERHAD', '03012')
('BAHVEST RESOURCES BERHAD', '0098')
('BANK ISLAM MALAYSIA BERHAD', '5258')
('BARAKAH OFFSHORE PETROLEUM BERHAD', '7251')
('BATU KAWAN BERHAD', '1899')
('BCB BERHAD', '6602')
('BCM ALLIANCE BERHAD', '0187')
('BENALEC HOLDINGS BERHAD', '5190')
('BERJAYA ASSETS BERHAD', '3239')
('BERJAYA CORPORATION BERHAD', '3395')
('BERJAYA FOOD BERHAD', '5196')
('BERJAYA LAND BERHAD', '4219')
('BERMAZ AUTO BERHAD', '5248')
('BERTAM ALLIANCE BERHAD', '9814')
('BESHOM HOLDINGS BERHAD', '7668')
('BINA DARULAMAN BERHAD', '6173')
('BINA PURI HOLDINGS BHD', '5932')
('BINASAT COMMUNICATIONS BERHAD', '0195')
('BINTAI KINDEN CORPORATION BERHAD', '6998')
('BINTULU PORT HOLDINGS BERHAD', '5032')
('BIOALPHA HOLDINGS BERHAD', '0179')
('BLD PLANTATION BHD.', '5069')
('BOILERMECH HOLDINGS BERHAD', '0168')
('BONIA CORPORATION BERHAD', '9288')
('BORNEO OIL BERHAD', '7036')
('BOUSTEAD HEAVY INDUSTRIES CORPORATION BHD', '8133')
('BOUSTEAD HOLDINGS BERHAD', '2771')
('BOUSTEAD PLANTATIONS BERHAD', '5254')
('BOX-PAK (MALAYSIA) BERHAD', '6297')
('BP PLASTICS HOLDING BHD', '5100')
('BRIGHT PACKAGING INDUSTRY BERHAD', '9938')
('BRITE-TECH BERHAD', '0011')
('BRITISH AMERICAN TOBACCO (MALAYSIA) BERHAD', '4162')
('BSL CORPORATION BERHAD', '7221')
('BTM RESOURCES BERHAD', '7188')
('BUMI ARMADA BERHAD', '5210')
('BURSA MALAYSIA BERHAD', '1818')
('BV LAND HOLDINGS BERHAD', '03042')
('C.I. HOLDINGS BERHAD', '2828')
('CAB CAKARAN CORPORATION BERHAD', '7174')
('CABNET HOLDINGS BERHAD', '0191')
('CAELY HOLDINGS BHD', '7154')
('CAHYA MATA SARAWAK BERHAD', '2852')
('CAM RESOURCES BERHAD', '7128')
('CAN-ONE BERHAD', '5105')
('CAPITAL A BERHAD', '5099')
('CAPITALAND MALAYSIA TRUST', '5180')
('CAREPLUS GROUP BERHAD', '0163')
('CARIMIN PETROLEUM BERHAD', '5257')
('CARLSBERG BREWERY MALAYSIA BERHAD', '2836')
('CARZO HOLDINGS BERHAD', '03048')
('CATCHA DIGITAL BERHAD', '0173')
('CB INDUSTRIAL PRODUCT HOLDING BERHAD', '7076')
('CCK CONSOLIDATED HOLDINGS BERHAD', '7035')
('CE TECHNOLOGY BERHAD', '03024')
('CEKD BERHAD', '0238')
('CENGILD MEDICAL BERHAD', '0243')
('CENSOF HOLDINGS BERHAD', '5195')
('CENTRAL GLOBAL BERHAD', '8052')
('CEPATWAWASAN GROUP BERHAD', '8982')
('CHEETAH HOLDINGS BERHAD', '7209')
('CHIN HIN GROUP BERHAD', '5273')
('CHIN HIN GROUP PROPERTY BERHAD', '7187')
('CHIN TECK PLANTATIONS BERHAD', '1929')
('CHIN WELL HOLDINGS BERHAD', '5007')
('CHINA AUTOMOBILE PARTS HOLDINGS LIMITED', '5229')
('CHINA OUHUA WINERY HOLDINGS LIMITED', '5188')
('CHOO BEE METAL INDUSTRIES BHD', '5797')
('CHUAN HUAT RESOURCES BHD', '7016')
('CIMB GROUP HOLDINGS BERHAD', '1023')
('CITAGLOBAL BERHAD', '7245')
('CITRA NUSA HOLDINGS BERHAD', '5104')
('CJ CENTURY LOGISTICS HOLDINGS BERHAD', '7117')
('CLASSIC SCENIC BERHAD', '7202')
('CLOUDARON GROUP BERHAD', '03001')
('CME GROUP BERHAD', '7018')
('CN ASIA CORPORATION BHD', '7986')
('CNERGENZ BERHAD', '0246')
('COASTAL CONTRACTS BHD', '5071')
('COMFORT GLOVES BERHAD', '2127')
('COMINTEL CORPORATION BHD', '7195')
('COMPLETE LOGISTIC SERVICES BERHAD', '5136')
('COMPUGATES HOLDINGS BERHAD', '5037')
('COMPUTER FORMS (MALAYSIA) BERHAD', '8044')
('CONCRETE ENGINEERING PRODUCTS BERHAD', '8435')
('CORAZA INTEGRATED TECHNOLOGY BERHAD', '0240')
('COUNTRY HEIGHTS HOLDINGS BHD', '5738')
('COUNTRY VIEW BERHAD', '5049')
('CRESCENDO CORPORATION BERHAD', '6718')
('CREST BUILDER HOLDINGS BERHAD', '8591')
('CRG INCORPORATED BERHAD', '03016')
('CSC STEEL HOLDINGS BERHAD', '5094')
('CSH ALLIANCE BERHAD', '7165')
('CTOS DIGITAL BERHAD', '5301')
('CUSCAPI BERHAD', '0051')
('CWG HOLDINGS BERHAD', '9423')
('CYL CORPORATION BERHAD', '7157')
('CYPARK RESOURCES BERHAD', '5184')
('D & O GREEN TECHNOLOGIES BERHAD', '7204')
('DAGANG NEXCHANGE BERHAD', '4456')
('DAMANSARA HOLDINGS BERHAD', '3484')
('DANCOMECH HOLDINGS BERHAD', '5276')
('DATAPREP HOLDINGS BHD', '8338')
('DATASONIC GROUP BERHAD', '5216')
('DAYANG ENTERPRISE HOLDINGS BERHAD', '5141')
('DELEUM BERHAD', '5132')
('DESTINI BERHAD', '7212')
('DFCITY GROUP BERHAD', '5165')
('DGB ASIA BERHAD', '0152')
('DIALOG GROUP BERHAD', '7277')
('DIGI.COM BERHAD', '6947')
('DIGISTAR CORPORATION BERHAD', '0029')
('DIVFEX BERHAD', '0131')
('DKLS INDUSTRIES BHD', '7528')
('DKSH HOLDINGS (MALAYSIA) BERHAD', '5908')
("D'NONCE TECHNOLOGY BHD", '7114')
('DOLOMITE CORPORATION BERHAD', '5835')
('DOLPHIN INTERNATIONAL BERHAD', '5265')
('DOMINANT ENTERPRISE BERHAD', '7169')
('DPI HOLDINGS BERHAD', '0205')
('DPS RESOURCES BERHAD', '7198')
('DRB-HICOM BERHAD', '1619')
('DUFU TECHNOLOGY CORP. BERHAD', '7233')
('DUOPHARMA BIOTECH BERHAD', '7148')
('DUTALAND BERHAD', '3948')
('DUTCH LADY MILK INDUSTRIES BERHAD', '3026')
('DYNACIATE GROUP BERHAD', '5178')
('DYNAFRONT HOLDINGS BERHAD', '03046')
('E.A.TECHNIQUE (M) BERHAD', '5259')
('EA HOLDINGS BERHAD', '0154')
('EASTERN & ORIENTAL BERHAD', '3417')
('EASTLAND EQUITY BHD', '2097')
('ECM LIBRA GROUP BERHAD', '2143')
('ECO WORLD DEVELOPMENT GROUP BERHAD', '8206')
('ECO WORLD INTERNATIONAL BERHAD', '5283')
('ECOBUILT HOLDINGS BERHAD', '0059')
('ECOFIRST CONSOLIDATED BHD', '3557')
('ECOMATE HOLDINGS BERHAD', '0239')
('ECONFRAME BERHAD', '0227')
('ECONPILE HOLDINGS BERHAD', '5253')
('EDARAN BERHAD', '5036')
('EDEN INC. BERHAD', '7471')
('EDUSPEC HOLDINGS BERHAD', '0107')
('EFFICIENT E-SOLUTIONS BERHAD', '0064')
('EG INDUSTRIES BERHAD', '8907')
('EITA RESOURCES BERHAD', '5208')
('EKOVEST BERHAD', '8877')
('EKSONS CORPORATION BERHAD', '9016')
('ELK-DESA RESOURCES BERHAD', '5228')
('ELSOFT RESEARCH BERHAD', '0090')
('EMICO HOLDINGS BERHAD', '9091')
('ENCORP BERHAD', '6076')
('ENEST GROUP BERHAD', '03025')
('ENG KAH CORPORATION BERHAD', '7149')
('ENGTEX GROUP BERHAD', '5056')
('ENRA GROUP BERHAD', '8613')
('EONMETALL GROUP BERHAD', '7217')
('EP MANUFACTURING BHD', '7773')
('EQUITIESTRACKER HOLDINGS BERHAD', '03021')
('ES CERAMICS TECHNOLOGY BHD', '0100')
('ESTHETICS INTERNATIONAL GROUP BERHAD', '5081')
('EUPE CORPORATION BERHAD', '6815')
('EURO HOLDINGS BERHAD', '7208')
('EUROSPAN HOLDINGS BERHAD', '7094')
('EVERGREEN FIBREBOARD BERHAD', '5101')
('EVERSAFE RUBBER BERHAD', '0190')
('EVERSENDAI CORPORATION BERHAD', '5205')
('EWEIN BERHAD', '7249')
('EXCEL FORCE MSC BERHAD', '0065')
('FACB INDUSTRIES INCORPORATED BERHAD', '2984')
('FAJARBARU BUILDER GROUP BHD', '7047')
('FAR EAST HOLDINGS BERHAD', '5029')
('FARLIM GROUP (MALAYSIA) BHD', '6041')
('FARM FRESH BERHAD', '5306')
('FAST ENERGY HOLDINGS BERHAD', '0084')
('FAVELLE FAVCO BERHAD', '7229')
('FCW HOLDINGS BERHAD', '2755')
('FEDERAL INTERNATIONAL HOLDINGS BERHAD', '8605')
('FGV HOLDINGS BERHAD', '5222')
('FIAMMA HOLDINGS BERHAD', '6939')
('FIBON BERHAD', '0149')
('FIBROMAT (M) BERHAD', '03026')
('FIMA CORPORATION BERHAD', '3107')
('FINTEC GLOBAL BERHAD', '0150')
('FITTERS DIVERSIFIED BERHAD', '9318')
('FLEXIDYNAMIC HOLDINGS BERHAD', '0231')
('FM GLOBAL LOGISTICS HOLDINGS BERHAD', '7210')
('FOCUS DYNAMICS GROUP BERHAD', '0116')
('FOCUS LUMBER BERHAD', '5197')
('FOCUS POINT HOLDINGS BERHAD', '0157')
('FORMOSA PROSONIC INDUSTRIES BERHAD', '9172')
('FOUNDPAC GROUP BERHAD', '5277')
('FRASER & NEAVE HOLDINGS BHD', '3689')
('FRONTKEN CORPORATION BERHAD', '0128')
('FSBM HOLDINGS BERHAD', '9377')
('FTSE BURSA MALAYSIA KLCI ETF', '0820EA')
('G CAPITAL BERHAD', '7676')
('G NEPTUNE BERHAD', '0045')
('G3 GLOBAL BERHAD', '7184')
('GABUNGAN AQRS BERHAD', '5226')
('GADANG HOLDINGS BHD', '9261')
('GAGASAN NADI CERGAS BERHAD', '0206')
('GAMUDA BERHAD', '5398')
('GAS MALAYSIA BERHAD', '5209')
('GDB HOLDINGS BERHAD', '0198')
('GDEX BERHAD', '0078')
('GENETEC TECHNOLOGY BERHAD', '0104')
('GENTING BERHAD', '3182')
('GENTING MALAYSIA BERHAD', '4715')
('GENTING PLANTATIONS BERHAD', '2291')
('GEORGE KENT (MALAYSIA) BERHAD', '3204')
('GE-SHEN CORPORATION BERHAD', '7197')
('GETS GLOBAL BERHAD', '5079')
('GFM SERVICES BERHAD', '0039')
('GHL SYSTEMS BERHAD', '0021')
('GIIB HOLDINGS BERHAD', '7192')
('GLOBAL ORIENTAL BERHAD', '1147')
('GLOBALTEC FORMATION BERHAD', '5220')
('GLOBETRONICS TECHNOLOGY BERHAD', '7022')
('GLOMAC BERHAD', '5020')
('GOLDEN LAND BERHAD', '7382')
('GOLDEN PHAROS BERHAD', '5649')
('GOPENG BERHAD', '2135')
('GPP RESOURCES BERHAD', '03029')
('GRAND CENTRAL ENTERPRISES BHD', '5592')
('GREATECH TECHNOLOGY BERHAD', '0208')
('GREEN OCEAN CORPORATION BERHAD', '0074')
('GREEN PACKET BERHAD', '0082')
('GREENYIELD BERHAD', '0136')
('GROMUTUAL BERHAD', '9962')
('GUAN CHONG BERHAD', '5102')
('GUH HOLDINGS BERHAD', '3247')
('GUOCOLAND (MALAYSIA) BERHAD', '1503')
('HAILY GROUP BERHAD', '0237')
('HANDAL ENERGY BERHAD', '7253')
('HAP SENG CONSOLIDATED BERHAD', '3034')
('HAP SENG PLANTATIONS HOLDINGS BERHAD', '5138')
('HARBOUR-LINK GROUP BERHAD', '2062')
('HARN LEN CORPORATION BHD', '7501')
('HARRISONS HOLDINGS (MALAYSIA) BERHAD', '5008')
('HARTALEGA HOLDINGS BERHAD', '5168')
('HB GLOBAL LIMITED', '5187')
('HCK CAPITAL GROUP BERHAD', '7105')
('HEINEKEN MALAYSIA BERHAD', '3255')
('HEITECH PADU BERHAD', '5028')
('HEKTAR REAL ESTATE INVESTMENT TRUST', '5121')
('HENG HUAT RESOURCES GROUP BERHAD', '0175')
('HENGYUAN REFINING COMPANY BERHAD', '4324')
('HEVEABOARD BERHAD', '5095')
('HEXTAR GLOBAL BERHAD', '5151')
('HEXTAR INDUSTRIES BERHAD', '0161')
('HEXZA CORPORATION BERHAD', '3298')
('HIAP HUAT HOLDINGS BERHAD', '0160')
('HIAP TECK VENTURE BERHAD', '5072')
('HIBISCUS PETROLEUM BERHAD', '5199')
('HIL INDUSTRIES BERHAD', '8443')
('HLT GLOBAL BERHAD', '0188')
('HO HUP CONSTRUCTION COMPANY BHD', '5169')
('HO WAH GENTING BERHAD', '9601')
('HOMERITZ CORPORATION BERHAD', '5160')
('HONG LEONG BANK BERHAD', '5819')
('HONG LEONG CAPITAL BERHAD', '5274')
('HONG LEONG FINANCIAL GROUP BERHAD', '1082')
('HONG LEONG INDUSTRIES BERHAD', '3301')
('HONG SENG CONSOLIDATED BERHAD', '0041')
('HPMT HOLDINGS BERHAD', '5291')
('HPP HOLDINGS BERHAD', '0228')
('HSS ENGINEERS BERHAD', '0185')
('HUA YANG BERHAD', '5062')
('HUBLINE BERHAD', '7013')
('HUME CEMENT INDUSTRIES BERHAD', '5000')
('HUP SENG INDUSTRIES BERHAD', '5024')
('HWA TAI INDUSTRIES BERHAD', '8478')
('I-BERHAD', '4251')
('IBRACO BERHAD', '5084')
('ICAPITAL.BIZ BERHAD', '5108')
('ICON OFFSHORE BERHAD', '5255')
('ICONIC WORLDWIDE BERHAD', '9113')
('ICT ZONE ASIA BERHAD', '03038')
('IDB TECHNOLOGIES BERHAD', '03030')
('IDEAL UNITED BINTANG INTERNATIONAL BERHAD', '9687')
('IDIMENSION CONSOLIDATED BHD', '0174')
('IFCA MSC BERHAD', '0023')
('IGB BERHAD', '5606')
('IGB COMMERCIAL REAL ESTATE INVESTMENT TRUST', '5299')
('IGB REAL ESTATE INVESTMENT TRUST', '5227')
('IHH HEALTHCARE BERHAD', '5225')
('IJM CORPORATION BERHAD', '3336')
('IMASPRO CORPORATION BERHAD', '7222')
('IMPIANA HOTELS BERHAD', '7243')
('INARI AMERTRON BERHAD', '0166')
('INCH KENNETH KAJANG RUBBER PUBLIC LTD CO', '2607')
('INDUSTRONICS BERHAD', '9393')
('INNATURE BERHAD', '5295')
('INNITY CORPORATION BERHAD', '0147')
('INNOPRISE PLANTATIONS BERHAD', '6262')
('INSAS BERHAD', '3379')
('INTA BINA GROUP BERHAD', '0192')
('INTEGRATED LOGISTICS BHD', '5614')
('IOI CORPORATION BERHAD', '1961')
('IOI PROPERTIES GROUP BERHAD', '5249')
('IQ GROUP HOLDINGS BERHAD', '5107')
('IQZAN HOLDING BERHAD', '7183')
('IREKA CORPORATION BERHAD', '8834')
('IRIS CORPORATION BERHAD', '0010')
('ISKANDAR WATERFRONT CITY BERHAD', '1589')
('IVORY PROPERTIES GROUP BERHAD', '5175')
('JADE MARVEL GROUP BERHAD', '7043')
('JADI IMAGING HOLDINGS BERHAD', '7223')
('JAG BERHAD', '0024')
('JAKS RESOURCES BERHAD', '4723')
('JASA KITA BERHAD', '8648')
('JAYA TIASA HOLDINGS BHD', '4383')
('JAYCORP BERHAD', '7152')
('JCBNEXT BERHAD', '0058')
('JCY INTERNATIONAL BERHAD', '5161')
('JENTAYU SUSTAINABLES BERHAD', '5673')
('JERASIA CAPITAL BERHAD', '8931')
('JF TECHNOLOGY BERHAD', '0146')
('JHM CONSOLIDATION BERHAD', '0127')
('JIANKUN INTERNATIONAL BERHAD', '8923')
('JISHAN BERHAD', '03040')
('JKG LAND BERHAD', '6769')
('JOE HOLDING BERHAD', '7096')
('JOHAN HOLDINGS BERHAD', '3441')
('K. SENG SENG CORPORATION BERHAD', '5192')
('KAMDAR GROUP (M) BERHAD', '8672')
('KANGER INTERNATIONAL BERHAD', '0170')
('KAREX BERHAD', '5247')
('KARYON INDUSTRIES BERHAD', '0054')
('KAWAN FOOD BERHAD', '7216')
('KECK SENG (MALAYSIA) BERHAD', '3476')
('KEIN HING INTERNATIONAL BERHAD', '7199')
('KEJURUTERAAN ASASTERA BERHAD', '0193')
('KELINGTON GROUP BERHAD', '0151')
('KEN HOLDINGS BERHAD', '7323')
('KENANGA INVESTMENT BANK BERHAD', '6483')
('KENANGA KLCI DAILY (-1X) INVERSE ETF', '0835EA')
('KENANGA KLCI DAILY 2X LEVERAGED ETF', '0834EA')
('KERJAYA PROSPEK GROUP BERHAD', '7161')
('KERJAYA PROSPEK PROPERTY BERHAD', '7077')
('KESM INDUSTRIES BERHAD', '9334')
('KEY ALLIANCE GROUP BERHAD', '0036')
('KEY ASIC BERHAD', '0143')
('KHEE SAN BERHAD', '6203')
('KHIND HOLDINGS BERHAD', '7062')
('KIA LIM BERHAD', '6211')
('KIM HIN INDUSTRY BERHAD', '5371')
('KIM HIN JOO (MALAYSIA) BERHAD', '0210')
('KIM LOONG RESOURCES BERHAD', '5027')
('KIM TECK CHEONG CONSOLIDATED BERHAD', '0180')
('KIMLUN CORPORATION BERHAD', '5171')
('KIP REAL ESTATE INVESTMENT TRUST', '5280')
('KKB ENGINEERING BERHAD', '9466')
('KLCC PROPERTY HOLDINGS BERHAD', '5235SS')
('KLUANG RUBBER COMPANY (MALAYA) BERHAD', '2453')
('KNM GROUP BERHAD', '7164')
('KNUSFORD BERHAD', '5035')
('KOBAY TECHNOLOGY BERHAD', '6971')
('KOMARKCORP BERHAD', '7017')
('K-ONE TECHNOLOGY BERHAD', '0111')
('KONSORTIUM TRANSNASIONAL BERHAD', '4847')
('KOSSAN RUBBER INDUSTRIES BERHAD', '7153')
('KOTRA INDUSTRIES BERHAD', '0002')
('KPJ HEALTHCARE BERHAD', '5878')
('KPOWER BERHAD', '7130')
('KPS CONSORTIUM BERHAD', '9121')
('KRETAM HOLDINGS BERHAD', '1996')
('KRONOLOGI ASIA BERHAD', '0176')
('KSL HOLDINGS BERHAD', '5038')
('KUALA LUMPUR KEPONG BERHAD', '2445')
('KUB MALAYSIA BERHAD', '6874')
('KUCHAI DEVELOPMENT BERHAD', '2186')
('KUMPULAN FIMA BERHAD', '6491')
('KUMPULAN H & L HIGH-TECH BERHAD', '7033')
('KUMPULAN JETSON BERHAD', '9083')
('KUMPULAN PERANGSANG SELANGOR BERHAD', '5843')
('KYM HOLDINGS BERHAD', '8362')
('LAGENDA PROPERTIES BERHAD', '7179')
('LAMBO GROUP BERHAD', '0018')
('LAND & GENERAL BERHAD', '3174')
('LANDMARKS BERHAD', '1643')
('LAY HONG BERHAD', '9385')
('LB ALUMINIUM BERHAD', '9326')
('LBI CAPITAL BERHAD', '8494')
('LBS BINA GROUP BERHAD', '5789')
('LEADER STEEL HOLDINGS BERHAD', '9881')
('LEBTECH BERHAD', '9628')
('LEE SWEE KIAT GROUP BERHAD', '8079')
('LEON FUAT BERHAD', '5232')
('LEONG HUP INTERNATIONAL BERHAD', '6633')
('LFE CORPORATION BERHAD', '7170')
('LGMS BERHAD', '0249')
('LIEN HOE CORPORATION BERHAD', '3573')
('LII HEN INDUSTRIES BHD.', '7089')
('LIM SEONG HAI CAPITAL BERHAD', '03047')
('LINGKARAN TRANS KOTA HOLDINGS BERHAD', '6645')
('LION INDUSTRIES CORPORATION BERHAD', '4235')
('LION POSIM BERHAD', '8486')
('LKL INTERNATIONAL BERHAD', '0182')
('LOTTE CHEMICAL TITAN HOLDING BERHAD', '5284')
('LOTUS KFM BERHAD', '8303')
('LPI CAPITAL BHD', '8621')
('LTKM BERHAD', '7085')
('LUSTER INDUSTRIES BHD.', '5068')
('LUXCHEM CORPORATION BERHAD', '5143')
('LYC HEALTHCARE BERHAD', '0075')
('LYSAGHT GALVANIZED STEEL BERHAD', '9199')
('M N C WIRELESS BERHAD', '0103')
('MAA GROUP BERHAD', '1198')
('MAG HOLDINGS BERHAD', '0095')
('MAGNA PRIMA BERHAD', '7617')
('MAGNI-TECH INDUSTRIES BERHAD', '7087')
('MAGNUM BERHAD', '3859')
('MAH SING GROUP BERHAD', '8583')
('MAJUPERAK HOLDINGS BERHAD', '8141')
('MALAKOFF CORPORATION BERHAD', '5264')
('MALAYAN BANKING BERHAD', '1155')
('MALAYAN CEMENT BERHAD', '3794')
('MALAYAN FLOUR MILLS BERHAD', '3662')
('MALAYAN UNITED INDUSTRIES BERHAD', '3891')
('MALAYSIA AIRPORTS HOLDINGS BERHAD', '5014')
('MALAYSIA BUILDING SOCIETY BERHAD', '1171')
('MALAYSIA MARINE AND HEAVY ENGINEERING HOLDINGS BERHAD', '5186')
('MALAYSIA SMELTING CORPORATION BERHAD', '5916')
('MALAYSIA STEEL WORKS (KL) BHD', '5098')
('MALAYSIAN BULK CARRIERS BERHAD', '5077')
('MALAYSIAN GENOMICS RESOURCE CENTRE BERHAD', '0155')
('MALAYSIAN PACIFIC INDUSTRIES BERHAD', '3867')
('MALAYSIAN RESOURCES CORPORATION BERHAD', '1651')
('MALPAC HOLDINGS BERHAD', '4936')
('MALTON BERHAD', '6181')
('MANAGEPAY SYSTEMS BERHAD', '0156')
('MANFORCE GROUP BERHAD', '03015')
('MANULIFE HOLDINGS BERHAD', '1058')
('MARCO HOLDINGS BERHAD', '3514')
('MARINE & GENERAL BERHAD', '5078')
('MASTER-PACK GROUP BERHAD', '7029')
('MATANG BERHAD', '0189')
('MATRIX CONCEPTS HOLDINGS BERHAD', '5236')
('MATRIX PARKING SOLUTION HOLDINGS BERHAD', '03019')
('MAXIM GLOBAL BERHAD', '4022')
('MAXIS BERHAD', '6012')
('MBM RESOURCES BHD', '5983')
('MCE HOLDINGS BERHAD', '7004')
('MCLEAN TECHNOLOGIES BERHAD', '0167')
('MCOM HOLDINGS BERHAD', '03022')
('MCT BERHAD', '5182')
('MEDIA CHINESE INTERNATIONAL LIMITED', '5090')
('MEDIA PRIMA BERHAD', '4502')
('MEGA FIRST CORPORATION BERHAD', '3069')
('MEGA SUN CITY HOLDINGS BERHAD', '0081')
('MELATI EHSAN HOLDINGS BERHAD', '5129')
('MELEWAR INDUSTRIAL GROUP BERHAD', '3778')
('MENANG CORPORATION (M) BERHAD', '1694')
('MENTIGA CORPORATION BERHAD', '5223')
('MERCURY INDUSTRIES BERHAD', '8192')
('MERIDIAN BERHAD', '5040')
('MESB BERHAD', '7234')
('MESINIAGA BERHAD', '5011')
('MESTRON HOLDINGS BERHAD', '0207')
('METRO HEALTHCARE BERHAD', '03005')
('METROD HOLDINGS BERHAD', '6149')
('METRONIC GLOBAL BERHAD', '0043')
('MGB BERHAD', '7595')
('MHC PLANTATIONS BHD', '5026')
('MI TECHNOVATION BERHAD', '5286')
('MICROLINK SOLUTIONS BERHAD', '0126')

### Add '.KL ' to use it for yahoo finance

In [18]:
df['stock_code']=df['stock_code']+'.KL'

C:\Users\Minyi\AppData\Local\Temp\ipykernel_27868\1639660786.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['stock_code']=df['stock_code']+'.KL'

In [19]:
df = df.reset_index()

In [20]:
df

     index                         stock_name stock_code
0        0  7-ELEVEN MALAYSIA HOLDINGS BERHAD    5250.KL
1        1       ABF MALAYSIA BOND INDEX FUND  0800EA.KL
2        2                 ABLE GLOBAL BERHAD    7167.KL
3        3                   ABLEGROUP BERHAD    7086.KL
4        4                  ABM FUJIYA BERHAD    5198.KL
..     ...                                ...        ...
985    996             YX PRECIOUS METALS BHD    0250.KL
986    997                       ZECON BERHAD    7028.KL
987    998                       ZELAN BERHAD    2283.KL
988    999      ZEN TECH INTERNATIONAL BERHAD    0094.KL
989   1000         ZHULIAN CORPORATION BERHAD    5131.KL

[990 rows x 3 columns]

In [21]:
del df['index']

In [22]:
df

                            stock_name stock_code
0    7-ELEVEN MALAYSIA HOLDINGS BERHAD    5250.KL
1         ABF MALAYSIA BOND INDEX FUND  0800EA.KL
2                   ABLE GLOBAL BERHAD    7167.KL
3                     ABLEGROUP BERHAD    7086.KL
4                    ABM FUJIYA BERHAD    5198.KL
..                                 ...        ...
985             YX PRECIOUS METALS BHD    0250.KL
986                       ZECON BERHAD    7028.KL
987                       ZELAN BERHAD    2283.KL
988      ZEN TECH INTERNATIONAL BERHAD    0094.KL
989         ZHULIAN CORPORATION BERHAD    5131.KL

[990 rows x 2 columns]

In [23]:
# store the dataframe into a csv file for further uses
df.to_csv('stock_code.csv')