In [1]:
# import modules
from datetime import datetime
from pandas_datareader import data as pdr
import yfinance as yf
import pandas as pd

In [2]:
df = pd.read_csv('stock_code.csv')
print(df.shape)
len(df['stock_code'].unique())

(990, 2)

990

In [3]:
df2 = df.to_dict('dict')
df2

{'stock_company': {0: '7-ELEVEN MALAYSIA HOLDINGS BERHAD',
  1: 'ABF MALAYSIA BOND INDEX FUND',
  2: 'ABLE GLOBAL BERHAD',
  3: 'ABLEGROUP BERHAD',
  4: 'ABM FUJIYA BERHAD',
  5: 'ACE INNOVATE ASIA BERHAD',
  6: 'ACME HOLDINGS BERHAD',
  7: 'ACO GROUP BERHAD',
  8: 'ADVANCE INFORMATION MARKETING BERHAD',
  9: 'ADVANCE SYNERGY BERHAD',
  10: 'ADVANCECON HOLDINGS BERHAD',
  11: 'ADVANCED PACKAGING TECHNOLOGY (M) BHD',
  12: 'ADVENTA BERHAD',
  13: 'AE MULTI HOLDINGS BERHAD',
  14: 'AEMULUS HOLDINGS BERHAD',
  15: 'AEON CO. (M) BHD',
  16: 'AEON CREDIT SERVICE (M) BERHAD',
  17: 'AFFIN BANK BERHAD',
  18: 'AGESON BERHAD',
  19: 'AHB HOLDINGS BERHAD',
  20: 'AHMAD ZAKI RESOURCES BERHAD',
  21: 'AIMFLEX BERHAD',
  22: 'AIRASIA X BERHAD',
  23: 'AJINOMOTO (MALAYSIA) BERHAD',
  24: 'AJIYA BERHAD',
  25: 'AL-`AQAR HEALTHCARE REIT',
  26: 'ALAM MARITIM RESOURCES BERHAD',
  27: 'ALCOM GROUP BERHAD',
  28: 'ALDRICH RESOURCES BERHAD',
  29: 'ALLIANCE BANK MALAYSIA BERHAD',
  30: 'ALLIANZ MALAYSIA BERHAD',
  31: 'ALPHA OCEAN RESOURCES BERHAD',
  32: 'AL-SALAM REAL ESTATE INVESTMENT TRUST',
  33: 'AMANAHRAYA REAL ESTATE INVESTMENT TRUST',
  34: 'AME ELITE CONSORTIUM BERHAD',
  35: 'AMFIRST REAL ESTATE INVESTMENT TRUST',
  36: 'AMLEX HOLDINGS BERHAD',
  37: 'AMMB HOLDINGS BERHAD',
  38: 'AMTEL HOLDINGS BERHAD',
  39: 'AMWAY (MALAYSIA) HOLDINGS BERHAD',
  40: 'ANALABS RESOURCES BERHAD',
  41: 'ANCOM LOGISTICS BERHAD',
  42: 'ANCOM NYLEX BERHAD',
  43: 'ANEKA JARINGAN HOLDINGS BERHAD',
  44: 'ANN JOO RESOURCES BERHAD',
  45: 'ANNUM BERHAD',
  46: 'ANZO HOLDINGS BERHAD',
  47: 'APB RESOURCES BERHAD',
  48: 'APEX EQUITY HOLDINGS BERHAD',
  49: 'APEX HEALTHCARE BERHAD',
  50: 'APM AUTOMOTIVE HOLDINGS BERHAD',
  51: 'APOLLO FOOD HOLDINGS BERHAD',
  52: 'APPASIA BERHAD',
  53: 'A-RANK BERHAD',
  54: 'ARB BERHAD',
  55: 'ARK RESOURCES HOLDINGS BERHAD',
  56: 'ARTRONIQ BERHAD',
  57: 'ASDION BERHAD',
  58: 'ASIA BRANDS BERHAD',
  59: 'ASIA FILE CORPORATION BHD',
  60: 'ASIA MEDIA GROUP BERHAD',
  61: 'ASIA POLY HOLDINGS BERHAD',
  62: 'ASIAN PAC HOLDINGS BERHAD',
  63: 'ASTINO BERHAD',
  64: 'ASTRAL ASIA BERHAD',
  65: 'ASTRAMINA GROUP BERHAD',
  66: 'ASTRO MALAYSIA HOLDINGS BERHAD',
  67: 'AT SYSTEMATIZATION BERHAD',
  68: 'ATA IMS BERHAD',
  69: 'ATLAN HOLDINGS BHD',
  70: 'ATRIUM REAL ESTATE INVESTMENT TRUST',
  71: 'ATTA GLOBAL GROUP BERHAD',
  72: 'AURELIUS TECHNOLOGIES BERHAD',
  73: 'AURORA ITALIA INTERNATIONAL BERHAD',
  74: 'AVILLION BERHAD',
  75: 'AWANBIRU TECHNOLOGY BERHAD',
  76: 'AWC BERHAD',
  77: 'AXIATA GROUP BERHAD',
  78: 'AXIS REAL ESTATE INVESTMENT TRUST',
  79: 'AXTERIA GROUP BERHAD',
  80: 'AYER HOLDINGS BERHAD',
  81: 'AYS VENTURES BERHAD',
  82: 'B.I.G. INDUSTRIES BERHAD',
  83: 'BABA ECO GROUP BERHAD',
  84: 'BAHVEST RESOURCES BERHAD',
  85: 'BANK ISLAM MALAYSIA BERHAD',
  86: 'BARAKAH OFFSHORE PETROLEUM BERHAD',
  87: 'BATU KAWAN BERHAD',
  88: 'BCB BERHAD',
  89: 'BCM ALLIANCE BERHAD',
  90: 'BENALEC HOLDINGS BERHAD',
  91: 'BERJAYA ASSETS BERHAD',
  92: 'BERJAYA CORPORATION BERHAD',
  93: 'BERJAYA FOOD BERHAD',
  94: 'BERJAYA LAND BERHAD',
  95: 'BERMAZ AUTO BERHAD',
  96: 'BERTAM ALLIANCE BERHAD',
  97: 'BESHOM HOLDINGS BERHAD',
  98: 'BINA DARULAMAN BERHAD',
  99: 'BINA PURI HOLDINGS BHD',
  100: 'BINASAT COMMUNICATIONS BERHAD',
  101: 'BINTAI KINDEN CORPORATION BERHAD',
  102: 'BINTULU PORT HOLDINGS BERHAD',
  103: 'BIOALPHA HOLDINGS BERHAD',
  104: 'BLD PLANTATION BHD.',
  105: 'BOILERMECH HOLDINGS BERHAD',
  106: 'BONIA CORPORATION BERHAD',
  107: 'BORNEO OIL BERHAD',
  108: 'BOUSTEAD HEAVY INDUSTRIES CORPORATION BHD',
  109: 'BOUSTEAD HOLDINGS BERHAD',
  110: 'BOUSTEAD PLANTATIONS BERHAD',
  111: 'BOX-PAK (MALAYSIA) BERHAD',
  112: 'BP PLASTICS HOLDING BHD',
  113: 'BRIGHT PACKAGING INDUSTRY BERHAD',
  114: 'BRITE-TECH BERHAD',
  115: 'BRITISH AMERICAN TOBACCO (MALAYSIA) BERHAD',
  116: 'BSL CORPORATION BERHAD',
  117: 'BTM RESOURCES BERHAD',
  118: 'BUMI ARMADA BERHAD',
  119: 'BURSA MALAYSIA BERHAD',
  120: 'BV LAND HOLDINGS BERHAD',
  121: 'C.I. HOLDINGS BERHAD',
  122: 'CAB CAKARAN CORPORATION BERHAD',
  123: 'CABNET HOLDINGS BERHAD',
  124: 'CAELY HOLDINGS BHD',
  125: 'CAHYA MATA SARAWAK BERHAD',
  126: 'CAM RESOURCES BERHAD',
  127: 'CAN-ONE BERHAD',
  128: 'CAPITAL A BERHAD',
  129: 'CAPITALAND MALAYSIA TRUST',
  130: 'CAREPLUS GROUP BERHAD',
  131: 'CARIMIN PETROLEUM BERHAD',
  132: 'CARLSBERG BREWERY MALAYSIA BERHAD',
  133: 'CARZO HOLDINGS BERHAD',
  134: 'CATCHA DIGITAL BERHAD',
  135: 'CB INDUSTRIAL PRODUCT HOLDING BERHAD',
  136: 'CCK CONSOLIDATED HOLDINGS BERHAD',
  137: 'CE TECHNOLOGY BERHAD',
  138: 'CEKD BERHAD',
  139: 'CENGILD MEDICAL BERHAD',
  140: 'CENSOF HOLDINGS BERHAD',
  141: 'CENTRAL GLOBAL BERHAD',
  142: 'CEPATWAWASAN GROUP BERHAD',
  143: 'CHEETAH HOLDINGS BERHAD',
  144: 'CHIN HIN GROUP BERHAD',
  145: 'CHIN HIN GROUP PROPERTY BERHAD',
  146: 'CHIN TECK PLANTATIONS BERHAD',
  147: 'CHIN WELL HOLDINGS BERHAD',
  148: 'CHINA AUTOMOBILE PARTS HOLDINGS LIMITED',
  149: 'CHINA OUHUA WINERY HOLDINGS LIMITED',
  150: 'CHOO BEE METAL INDUSTRIES BHD',
  151: 'CHUAN HUAT RESOURCES BHD',
  152: 'CIMB GROUP HOLDINGS BERHAD',
  153: 'CITAGLOBAL BERHAD',
  154: 'CITRA NUSA HOLDINGS BERHAD',
  155: 'CJ CENTURY LOGISTICS HOLDINGS BERHAD',
  156: 'CLASSIC SCENIC BERHAD',
  157: 'CLOUDARON GROUP BERHAD',
  158: 'CME GROUP BERHAD',
  159: 'CN ASIA CORPORATION BHD',
  160: 'CNERGENZ BERHAD',
  161: 'COASTAL CONTRACTS BHD',
  162: 'COMFORT GLOVES BERHAD',
  163: 'COMINTEL CORPORATION BHD',
  164: 'COMPLETE LOGISTIC SERVICES BERHAD',
  165: 'COMPUGATES HOLDINGS BERHAD',
  166: 'COMPUTER FORMS (MALAYSIA) BERHAD',
  167: 'CONCRETE ENGINEERING PRODUCTS BERHAD',
  168: 'CORAZA INTEGRATED TECHNOLOGY BERHAD',
  169: 'COUNTRY HEIGHTS HOLDINGS BHD',
  170: 'COUNTRY VIEW BERHAD',
  171: 'CRESCENDO CORPORATION BERHAD',
  172: 'CREST BUILDER HOLDINGS BERHAD',
  173: 'CRG INCORPORATED BERHAD',
  174: 'CSC STEEL HOLDINGS BERHAD',
  175: 'CSH ALLIANCE BERHAD',
  176: 'CTOS DIGITAL BERHAD',
  177: 'CUSCAPI BERHAD',
  178: 'CWG HOLDINGS BERHAD',
  179: 'CYL CORPORATION BERHAD',
  180: 'CYPARK RESOURCES BERHAD',
  181: 'D & O GREEN TECHNOLOGIES BERHAD',
  182: 'DAGANG NEXCHANGE BERHAD',
  183: 'DAMANSARA HOLDINGS BERHAD',
  184: 'DANCOMECH HOLDINGS BERHAD',
  185: 'DATAPREP HOLDINGS BHD',
  186: 'DATASONIC GROUP BERHAD',
  187: 'DAYANG ENTERPRISE HOLDINGS BERHAD',
  188: 'DELEUM BERHAD',
  189: 'DESTINI BERHAD',
  190: 'DFCITY GROUP BERHAD',
  191: 'DGB ASIA BERHAD',
  192: 'DIALOG GROUP BERHAD',
  193: 'DIGI.COM BERHAD',
  194: 'DIGISTAR CORPORATION BERHAD',
  195: 'DIVFEX BERHAD',
  196: 'DKLS INDUSTRIES BHD',
  197: 'DKSH HOLDINGS (MALAYSIA) BERHAD',
  198: "D'NONCE TECHNOLOGY BHD",
  199: 'DOLOMITE CORPORATION BERHAD',
  200: 'DOLPHIN INTERNATIONAL BERHAD',
  201: 'DOMINANT ENTERPRISE BERHAD',
  202: 'DPI HOLDINGS BERHAD',
  203: 'DPS RESOURCES BERHAD',
  204: 'DRB-HICOM BERHAD',
  205: 'DUFU TECHNOLOGY CORP. BERHAD',
  206: 'DUOPHARMA BIOTECH BERHAD',
  207: 'DUTALAND BERHAD',
  208: 'DUTCH LADY MILK INDUSTRIES BERHAD',
  209: 'DYNACIATE GROUP BERHAD',
  210: 'DYNAFRONT HOLDINGS BERHAD',
  211: 'E.A.TECHNIQUE (M) BERHAD',
  212: 'EA HOLDINGS BERHAD',
  213: 'EASTERN & ORIENTAL BERHAD',
  214: 'EASTLAND EQUITY BHD',
  215: 'ECM LIBRA GROUP BERHAD',
  216: 'ECO WORLD DEVELOPMENT GROUP BERHAD',
  217: 'ECO WORLD INTERNATIONAL BERHAD',
  218: 'ECOBUILT HOLDINGS BERHAD',
  219: 'ECOFIRST CONSOLIDATED BHD',
  220: 'ECOMATE HOLDINGS BERHAD',
  221: 'ECONFRAME BERHAD',
  222: 'ECONPILE HOLDINGS BERHAD',
  223: 'EDARAN BERHAD',
  224: 'EDEN INC. BERHAD',
  225: 'EDUSPEC HOLDINGS BERHAD',
  226: 'EFFICIENT E-SOLUTIONS BERHAD',
  227: 'EG INDUSTRIES BERHAD',
  228: 'EITA RESOURCES BERHAD',
  229: 'EKOVEST BERHAD',
  230: 'EKSONS CORPORATION BERHAD',
  231: 'ELK-DESA RESOURCES BERHAD',
  232: 'ELSOFT RESEARCH BERHAD',
  233: 'EMICO HOLDINGS BERHAD',
  234: 'ENCORP BERHAD',
  235: 'ENEST GROUP BERHAD',
  236: 'ENG KAH CORPORATION BERHAD',
  237: 'ENGTEX GROUP BERHAD',
  238: 'ENRA GROUP BERHAD',
  239: 'EONMETALL GROUP BERHAD',
  240: 'EP MANUFACTURING BHD',
  241: 'EQUITIESTRACKER HOLDINGS BERHAD',
  242: 'ES CERAMICS TECHNOLOGY BHD',
  243: 'ESTHETICS INTERNATIONAL GROUP BERHAD',
  244: 'EUPE CORPORATION BERHAD',
  245: 'EURO HOLDINGS BERHAD',
  246: 'EUROSPAN HOLDINGS BERHAD',
  247: 'EVERGREEN FIBREBOARD BERHAD',
  248: 'EVERSAFE RUBBER BERHAD',
  249: 'EVERSENDAI CORPORATION BERHAD',
  250: 'EWEIN BERHAD',
  251: 'EXCEL FORCE MSC BERHAD',
  252: 'FACB INDUSTRIES INCORPORATED BERHAD',
  253: 'FAJARBARU BUILDER GROUP BHD',
  254: 'FAR EAST HOLDINGS BERHAD',
  255: 'FARLIM GROUP (MALAYSIA) BHD',
  256: 'FARM FRESH BERHAD',
  257: 'FAST ENERGY HOLDINGS BERHAD',
  258: 'FAVELLE FAVCO BERHAD',
  259: 'FCW HOLDINGS BERHAD',
  260: 'FEDERAL INTERNATIONAL HOLDINGS BERHAD',
  261: 'FGV HOLDINGS BERHAD',
  262: 'FIAMMA HOLDINGS BERHAD',
  263: 'FIBON BERHAD',
  264: 'FIBROMAT (M) BERHAD',
  265: 'FIMA CORPORATION BERHAD',
  266: 'FINTEC GLOBAL BERHAD',
  267: 'FITTERS DIVERSIFIED BERHAD',
  268: 'FLEXIDYNAMIC HOLDINGS BERHAD',
  269: 'FM GLOBAL LOGISTICS HOLDINGS BERHAD',
  270: 'FOCUS DYNAMICS GROUP BERHAD',
  271: 'FOCUS LUMBER BERHAD',
  272: 'FOCUS POINT HOLDINGS BERHAD',
  273: 'FORMOSA PROSONIC INDUSTRIES BERHAD',
  274: 'FOUNDPAC GROUP BERHAD',
  275: 'FRASER & NEAVE HOLDINGS BHD',
  276: 'FRONTKEN CORPORATION BERHAD',
  277: 'FSBM HOLDINGS BERHAD',
  278: 'FTSE BURSA MALAYSIA KLCI ETF',
  279: 'G CAPITAL BERHAD',
  280: 'G NEPTUNE BERHAD',
  281: 'G3 GLOBAL BERHAD',
  282: 'GABUNGAN AQRS BERHAD',
  283: 'GADANG HOLDINGS BHD',
  284: 'GAGASAN NADI CERGAS BERHAD',
  285: 'GAMUDA BERHAD',
  286: 'GAS MALAYSIA BERHAD',
  287: 'GDB HOLDINGS BERHAD',
  288: 'GDEX BERHAD',
  289: 'GENETEC TECHNOLOGY BERHAD',
  290: 'GENTING BERHAD',
  291: 'GENTING MALAYSIA BERHAD',
  292: 'GENTING PLANTATIONS BERHAD',
  293: 'GEORGE KENT (MALAYSIA) BERHAD',
  294: 'GE-SHEN CORPORATION BERHAD',
  295: 'GETS GLOBAL BERHAD',
  296: 'GFM SERVICES BERHAD',
  297: 'GHL SYSTEMS BERHAD',
  298: 'GIIB HOLDINGS BERHAD',
  299: 'GLOBAL ORIENTAL BERHAD',
  300: 'GLOBALTEC FORMATION BERHAD',
  301: 'GLOBETRONICS TECHNOLOGY BERHAD',
  302: 'GLOMAC BERHAD',
  303: 'GOLDEN LAND BERHAD',
  304: 'GOLDEN PHAROS BERHAD',
  305: 'GOPENG BERHAD',
  306: 'GPP RESOURCES BERHAD',
  307: 'GRAND CENTRAL ENTERPRISES BHD',
  308: 'GREATECH TECHNOLOGY BERHAD',
  309: 'GREEN OCEAN CORPORATION BERHAD',
  310: 'GREEN PACKET BERHAD',
  311: 'GREENYIELD BERHAD',
  312: 'GROMUTUAL BERHAD',
  313: 'GUAN CHONG BERHAD',
  314: 'GUH HOLDINGS BERHAD',
  315: 'GUOCOLAND (MALAYSIA) BERHAD',
  316: 'HAILY GROUP BERHAD',
  317: 'HANDAL ENERGY BERHAD',
  318: 'HAP SENG CONSOLIDATED BERHAD',
  319: 'HAP SENG PLANTATIONS HOLDINGS BERHAD',
  320: 'HARBOUR-LINK GROUP BERHAD',
  321: 'HARN LEN CORPORATION BHD',
  322: 'HARRISONS HOLDINGS (MALAYSIA) BERHAD',
  323: 'HARTALEGA HOLDINGS BERHAD',
  324: 'HB GLOBAL LIMITED',
  325: 'HCK CAPITAL GROUP BERHAD',
  326: 'HEINEKEN MALAYSIA BERHAD',
  327: 'HEITECH PADU BERHAD',
  328: 'HEKTAR REAL ESTATE INVESTMENT TRUST',
  329: 'HENG HUAT RESOURCES GROUP BERHAD',
  330: 'HENGYUAN REFINING COMPANY BERHAD',
  331: 'HEVEABOARD BERHAD',
  332: 'HEXTAR GLOBAL BERHAD',
  333: 'HEXTAR INDUSTRIES BERHAD',
  334: 'HEXZA CORPORATION BERHAD',
  335: 'HIAP HUAT HOLDINGS BERHAD',
  336: 'HIAP TECK VENTURE BERHAD',
  337: 'HIBISCUS PETROLEUM BERHAD',
  338: 'HIL INDUSTRIES BERHAD',
  339: 'HLT GLOBAL BERHAD',
  340: 'HO HUP CONSTRUCTION COMPANY BHD',
  341: 'HO WAH GENTING BERHAD',
  342: 'HOMERITZ CORPORATION BERHAD',
  343: 'HONG LEONG BANK BERHAD',
  344: 'HONG LEONG CAPITAL BERHAD',
  345: 'HONG LEONG FINANCIAL GROUP BERHAD',
  346: 'HONG LEONG INDUSTRIES BERHAD',
  347: 'HONG SENG CONSOLIDATED BERHAD',
  348: 'HPMT HOLDINGS BERHAD',
  349: 'HPP HOLDINGS BERHAD',
  350: 'HSS ENGINEERS BERHAD',
  351: 'HUA YANG BERHAD',
  352: 'HUBLINE BERHAD',
  353: 'HUME CEMENT INDUSTRIES BERHAD',
  354: 'HUP SENG INDUSTRIES BERHAD',
  355: 'HWA TAI INDUSTRIES BERHAD',
  356: 'I-BERHAD',
  357: 'IBRACO BERHAD',
  358: 'ICAPITAL.BIZ BERHAD',
  359: 'ICON OFFSHORE BERHAD',
  360: 'ICONIC WORLDWIDE BERHAD',
  361: 'ICT ZONE ASIA BERHAD',
  362: 'IDB TECHNOLOGIES BERHAD',
  363: 'IDEAL UNITED BINTANG INTERNATIONAL BERHAD',
  364: 'IDIMENSION CONSOLIDATED BHD',
  365: 'IFCA MSC BERHAD',
  366: 'IGB BERHAD',
  367: 'IGB COMMERCIAL REAL ESTATE INVESTMENT TRUST',
  368: 'IGB REAL ESTATE INVESTMENT TRUST',
  369: 'IHH HEALTHCARE BERHAD',
  370: 'IJM CORPORATION BERHAD',
  371: 'IMASPRO CORPORATION BERHAD',
  372: 'IMPIANA HOTELS BERHAD',
  373: 'INARI AMERTRON BERHAD',
  374: 'INCH KENNETH KAJANG RUBBER PUBLIC LTD CO',
  375: 'INDUSTRONICS BERHAD',
  376: 'INNATURE BERHAD',
  377: 'INNITY CORPORATION BERHAD',
  378: 'INNOPRISE PLANTATIONS BERHAD',
  379: 'INSAS BERHAD',
  380: 'INTA BINA GROUP BERHAD',
  381: 'INTEGRATED LOGISTICS BHD',
  382: 'IOI CORPORATION BERHAD',
  383: 'IOI PROPERTIES GROUP BERHAD',
  384: 'IQ GROUP HOLDINGS BERHAD',
  385: 'IQZAN HOLDING BERHAD',
  386: 'IREKA CORPORATION BERHAD',
  387: 'IRIS CORPORATION BERHAD',
  388: 'ISKANDAR WATERFRONT CITY BERHAD',
  389: 'IVORY PROPERTIES GROUP BERHAD',
  390: 'JADE MARVEL GROUP BERHAD',
  391: 'JADI IMAGING HOLDINGS BERHAD',
  392: 'JAG BERHAD',
  393: 'JAKS RESOURCES BERHAD',
  394: 'JASA KITA BERHAD',
  395: 'JAYA TIASA HOLDINGS BHD',
  396: 'JAYCORP BERHAD',
  397: 'JCBNEXT BERHAD',
  398: 'JCY INTERNATIONAL BERHAD',
  399: 'JENTAYU SUSTAINABLES BERHAD',
  400: 'JERASIA CAPITAL BERHAD',
  401: 'JF TECHNOLOGY BERHAD',
  402: 'JHM CONSOLIDATION BERHAD',
  403: 'JIANKUN INTERNATIONAL BERHAD',
  404: 'JISHAN BERHAD',
  405: 'JKG LAND BERHAD',
  406: 'JOE HOLDING BERHAD',
  407: 'JOHAN HOLDINGS BERHAD',
  408: 'K. SENG SENG CORPORATION BERHAD',
  409: 'KAMDAR GROUP (M) BERHAD',
  410: 'KANGER INTERNATIONAL BERHAD',
  411: 'KAREX BERHAD',
  412: 'KARYON INDUSTRIES BERHAD',
  413: 'KAWAN FOOD BERHAD',
  414: 'KECK SENG (MALAYSIA) BERHAD',
  415: 'KEIN HING INTERNATIONAL BERHAD',
  416: 'KEJURUTERAAN ASASTERA BERHAD',
  417: 'KELINGTON GROUP BERHAD',
  418: 'KEN HOLDINGS BERHAD',
  419: 'KENANGA INVESTMENT BANK BERHAD',
  420: 'KENANGA KLCI DAILY (-1X) INVERSE ETF',
  421: 'KENANGA KLCI DAILY 2X LEVERAGED ETF',
  422: 'KERJAYA PROSPEK GROUP BERHAD',
  423: 'KERJAYA PROSPEK PROPERTY BERHAD',
  424: 'KESM INDUSTRIES BERHAD',
  425: 'KEY ALLIANCE GROUP BERHAD',
  426: 'KEY ASIC BERHAD',
  427: 'KHEE SAN BERHAD',
  428: 'KHIND HOLDINGS BERHAD',
  429: 'KIA LIM BERHAD',
  430: 'KIM HIN INDUSTRY BERHAD',
  431: 'KIM HIN JOO (MALAYSIA) BERHAD',
  432: 'KIM LOONG RESOURCES BERHAD',
  433: 'KIM TECK CHEONG CONSOLIDATED BERHAD',
  434: 'KIMLUN CORPORATION BERHAD',
  435: 'KIP REAL ESTATE INVESTMENT TRUST',
  436: 'KKB ENGINEERING BERHAD',
  437: 'KLCC PROPERTY HOLDINGS BERHAD',
  438: 'KLUANG RUBBER COMPANY (MALAYA) BERHAD',
  439: 'KNM GROUP BERHAD',
  440: 'KNUSFORD BERHAD',
  441: 'KOBAY TECHNOLOGY BERHAD',
  442: 'KOMARKCORP BERHAD',
  443: 'K-ONE TECHNOLOGY BERHAD',
  444: 'KONSORTIUM TRANSNASIONAL BERHAD',
  445: 'KOSSAN RUBBER INDUSTRIES BERHAD',
  446: 'KOTRA INDUSTRIES BERHAD',
  447: 'KPJ HEALTHCARE BERHAD',
  448: 'KPOWER BERHAD',
  449: 'KPS CONSORTIUM BERHAD',
  450: 'KRETAM HOLDINGS BERHAD',
  451: 'KRONOLOGI ASIA BERHAD',
  452: 'KSL HOLDINGS BERHAD',
  453: 'KUALA LUMPUR KEPONG BERHAD',
  454: 'KUB MALAYSIA BERHAD',
  455: 'KUCHAI DEVELOPMENT BERHAD',
  456: 'KUMPULAN FIMA BERHAD',
  457: 'KUMPULAN H & L HIGH-TECH BERHAD',
  458: 'KUMPULAN JETSON BERHAD',
  459: 'KUMPULAN PERANGSANG SELANGOR BERHAD',
  460: 'KYM HOLDINGS BERHAD',
  461: 'LAGENDA PROPERTIES BERHAD',
  462: 'LAMBO GROUP BERHAD',
  463: 'LAND & GENERAL BERHAD',
  464: 'LANDMARKS BERHAD',
  465: 'LAY HONG BERHAD',
  466: 'LB ALUMINIUM BERHAD',
  467: 'LBI CAPITAL BERHAD',
  468: 'LBS BINA GROUP BERHAD',
  469: 'LEADER STEEL HOLDINGS BERHAD',
  470: 'LEBTECH BERHAD',
  471: 'LEE SWEE KIAT GROUP BERHAD',
  472: 'LEON FUAT BERHAD',
  473: 'LEONG HUP INTERNATIONAL BERHAD',
  474: 'LFE CORPORATION BERHAD',
  475: 'LGMS BERHAD',
  476: 'LIEN HOE CORPORATION BERHAD',
  477: 'LII HEN INDUSTRIES BHD.',
  478: 'LIM SEONG HAI CAPITAL BERHAD',
  479: 'LINGKARAN TRANS KOTA HOLDINGS BERHAD',
  480: 'LION INDUSTRIES CORPORATION BERHAD',
  481: 'LION POSIM BERHAD',
  482: 'LKL INTERNATIONAL BERHAD',
  483: 'LOTTE CHEMICAL TITAN HOLDING BERHAD',
  484: 'LOTUS KFM BERHAD',
  485: 'LPI CAPITAL BHD',
  486: 'LTKM BERHAD',
  487: 'LUSTER INDUSTRIES BHD.',
  488: 'LUXCHEM CORPORATION BERHAD',
  489: 'LYC HEALTHCARE BERHAD',
  490: 'LYSAGHT GALVANIZED STEEL BERHAD',
  491: 'M N C WIRELESS BERHAD',
  492: 'MAA GROUP BERHAD',
  493: 'MAG HOLDINGS BERHAD',
  494: 'MAGNA PRIMA BERHAD',
  495: 'MAGNI-TECH INDUSTRIES BERHAD',
  496: 'MAGNUM BERHAD',
  497: 'MAH SING GROUP BERHAD',
  498: 'MAJUPERAK HOLDINGS BERHAD',
  499: 'MALAKOFF CORPORATION BERHAD',
  500: 'MALAYAN BANKING BERHAD',
  501: 'MALAYAN CEMENT BERHAD',
  502: 'MALAYAN FLOUR MILLS BERHAD',
  503: 'MALAYAN UNITED INDUSTRIES BERHAD',
  504: 'MALAYSIA AIRPORTS HOLDINGS BERHAD',
  505: 'MALAYSIA BUILDING SOCIETY BERHAD',
  506: 'MALAYSIA MARINE AND HEAVY ENGINEERING HOLDINGS BERHAD',
  507: 'MALAYSIA SMELTING CORPORATION BERHAD',
  508: 'MALAYSIA STEEL WORKS (KL) BHD',
  509: 'MALAYSIAN BULK CARRIERS BERHAD',
  510: 'MALAYSIAN GENOMICS RESOURCE CENTRE BERHAD',
  511: 'MALAYSIAN PACIFIC INDUSTRIES BERHAD',
  512: 'MALAYSIAN RESOURCES CORPORATION BERHAD',
  513: 'MALPAC HOLDINGS BERHAD',
  514: 'MALTON BERHAD',
  515: 'MANAGEPAY SYSTEMS BERHAD',
  516: 'MANFORCE GROUP BERHAD',
  517: 'MANULIFE HOLDINGS BERHAD',
  518: 'MARCO HOLDINGS BERHAD',
  519: 'MARINE & GENERAL BERHAD',
  520: 'MASTER-PACK GROUP BERHAD',
  521: 'MATANG BERHAD',
  522: 'MATRIX CONCEPTS HOLDINGS BERHAD',
  523: 'MATRIX PARKING SOLUTION HOLDINGS BERHAD',
  524: 'MAXIM GLOBAL BERHAD',
  525: 'MAXIS BERHAD',
  526: 'MBM RESOURCES BHD',
  527: 'MCE HOLDINGS BERHAD',
  528: 'MCLEAN TECHNOLOGIES BERHAD',
  529: 'MCOM HOLDINGS BERHAD',
  530: 'MCT BERHAD',
  531: 'MEDIA CHINESE INTERNATIONAL LIMITED',
  532: 'MEDIA PRIMA BERHAD',
  533: 'MEGA FIRST CORPORATION BERHAD',
  534: 'MEGA SUN CITY HOLDINGS BERHAD',
  535: 'MELATI EHSAN HOLDINGS BERHAD',
  536: 'MELEWAR INDUSTRIAL GROUP BERHAD',
  537: 'MENANG CORPORATION (M) BERHAD',
  538: 'MENTIGA CORPORATION BERHAD',
  539: 'MERCURY INDUSTRIES BERHAD',
  540: 'MERIDIAN BERHAD',
  541: 'MESB BERHAD',
  542: 'MESINIAGA BERHAD',
  543: 'MESTRON HOLDINGS BERHAD',
  544: 'METRO HEALTHCARE BERHAD',
  545: 'METROD HOLDINGS BERHAD',
  546: 'METRONIC GLOBAL BERHAD',
  547: 'MGB BERHAD',
  548: 'MHC PLANTATIONS BHD',
  549: 'MI TECHNOVATION BERHAD',
  550: 'MICROLINK SOLUTIONS BERHAD',
  551: 'MIECO CHIPBOARD BERHAD',
  552: 'MIKRO MSC BERHAD',
  553: 'MILUX CORPORATION BERHAD',
  554: 'MINDA GLOBAL BERHAD',
  555: 'MINETECH RESOURCES BERHAD',
  556: 'MINHO (M) BERHAD',
  557: 'MISC BERHAD',
  558: 'MITRAJAYA HOLDINGS BERHAD',
  559: 'MK LAND HOLDINGS BERHAD',
  560: 'MKH BERHAD',
  561: 'MLABS SYSTEMS BERHAD',
  562: 'MMAG HOLDINGS BERHAD',
  563: 'MMIS BERHAD',
  564: 'MMS VENTURES BERHAD',
  565: 'MN HOLDINGS BERHAD',
  566: 'MNRB HOLDINGS BERHAD',
  567: 'MOBILIA HOLDINGS BERHAD',
  568: 'MPHB CAPITAL BERHAD',
  569: 'MQ TECHNOLOGY BERHAD',
  570: 'MR D.I.Y. GROUP (M) BERHAD',
  571: 'MSM MALAYSIA HOLDINGS BERHAD',
  572: 'MTAG GROUP BERHAD',
  573: 'MTOUCHE TECHNOLOGY BERHAD',
  574: 'MUAR BAN LEE GROUP BERHAD',
  575: 'MUDA HOLDINGS BERHAD',
  576: 'MUDAJAYA GROUP BERHAD',
  577: 'MUHIBBAH ENGINEERING (M) BHD',
  578: 'MUI PROPERTIES BERHAD',
  579: 'MULPHA INTERNATIONAL BERHAD',
  580: 'MULTI-USAGE HOLDINGS BERHAD',
  581: 'MY E.G. SERVICES BERHAD',
  582: 'MYCRON STEEL BERHAD',
  583: 'MYETF DOW JONES ISLAMIC MARKET MALAYSIA TITANS 25',
  584: 'MYETF DOW JONES U.S. TITANS 50',
  585: 'MYETF MSCI MALAYSIA ISLAMIC DIVIDEND',
  586: 'MYETF MSCI SEA ISLAMIC DIVIDEND',
  587: 'MYNEWS HOLDINGS BERHAD',

# Connect to database

In [4]:
import psycopg2
import pandas as pd
from sqlalchemy import create_engine
from urllib.parse import quote 
from datetime import timedelta

In [5]:
# connect to database
conn_string = 'postgresql://postgres:Jiawei1105@localhost/dividendinvesting'

#connect
db = create_engine(conn_string)
conn = db.connect()
conn = psycopg2.connect(conn_string)
conn.autocommit = True
cursor = conn.cursor()

In [6]:
# using sql query to get recent date
sql2 ='''SELECT TO_CHAR (MAX("stockDate"),'YYYYMMDD') AS "latestDate","stockCode" 
FROM daily_stock
GROUP BY "stockCode"
ORDER BY "latestDate" ;'''
cursor.execute(sql2)
recent_date = cursor.fetchall()
#print(recent_date[0])
df = pd.DataFrame(recent_date, columns =['Latest Date', 'Stock Code'])
conn.commit()
conn.close()

In [7]:
df.head()

  Latest Date Stock Code
0    20221130       5270
1    20230127     0824EA
2    20230127     0825EA
3    20230127     0827EA
4    20230127     0828EA

In [8]:
df.tail()

    Latest Date Stock Code
985    20230130       0024
986    20230130       0025
987    20230130       0026
988    20230130       0028
989    20230130       0029

In [9]:
df['Stock Code']=df['Stock Code']+'.KL'

In [10]:
df[df['Stock Code']=='0005.KL']

    Latest Date Stock Code
972    20230130    0005.KL

In [11]:
df

    Latest Date Stock Code
0      20221130    5270.KL
1      20230127  0824EA.KL
2      20230127  0825EA.KL
3      20230127  0827EA.KL
4      20230127  0828EA.KL
..          ...        ...
985    20230130    0024.KL
986    20230130    0025.KL
987    20230130    0026.KL
988    20230130    0028.KL
989    20230130    0029.KL

[990 rows x 2 columns]

In [ ]:
import os
os.remove('latest_date.csv')
os.remove('recent_stock.csv')

In [12]:
for i in range(len(df)):
    
    # get each row
    lat_date = df.loc[i, "Latest Date"] 
    stock_code = df.loc[i, "Stock Code"]
    
    #20230117 or 20231223
    year = int(lat_date[0:4])    
    month = int(lat_date[4:6])
    day =  int(lat_date[6:8])
   
    
    start = datetime(year,month,day)+timedelta(days=1)
    end = datetime.now()-timedelta(days=1)
    #print(lat_date,year,month,day,stock_code, start ,end)
    
    if end>start:
        # put it into a csv file to track the latest date
        lat_d = pd.DataFrame({"stock code":[stock_code],"latest date":[start],"date scrap":[datetime.now()]})
        lat_d.to_csv("latest_date.csv", mode='a')
        
        stock = yf.Ticker(stock_code) 
        table = stock.history(start=start, end=end)

        frame=pd.DataFrame(table)
        frame['stock code'] = stock_code
        frame.to_csv('recent_stock.csv', mode='a', index=True, header=False)
    else:
        print("Stock " + stock_code + "start and end date incorrect ")
        print("Start date :",start)
        print("End date :",end)
        print("------------------------------------------------------------")

5270.KL: No data found for this date range, symbol may be delisted
8338.KL: No data found for this date range, symbol may be delisted

In [13]:
find = pd.read_csv('recent_stock.csv', header = None)

In [14]:
find

,0,1,2,3,4,5,6,7,8
0,2023-01-30 00:00:00+08:00,1.215,1.215,1.215,1.215,0,0.0,0.0,0824EA.KL
1,2023-01-31 00:00:00+08:00,1.215,1.215,1.215,1.215,0,0.0,0.0,0824EA.KL
2,2023-01-30 00:00:00+08:00,0.845,0.845,0.845,0.845,0,0.0,0.0,0825EA.KL
3,2023-01-31 00:00:00+08:00,0.845,0.845,0.845,0.845,0,0.0,0.0,0825EA.KL
4,2023-01-30 00:00:00+08:00,1.670,1.670,1.670,1.670,300,0.0,0.0,0827EA.KL
...,...,...,...,...,...,...,...,...,...
1002,2023-01-31 00:00:00+08:00,0.350,0.350,0.345,0.345,1267900,0.0,0.0,0024.KL
1003,2023-01-31 00:00:00+08:00,0.565,0.580,0.560,0.565,1300300,0.0,0.0,0025.KL
1004,2023-01-31 00:00:00+08:00,0.120,0.120,0.120,0.120,977500,0.0,0.0,0026.KL
1005,2023-01-31 00:00:00+08:00,0.220,0.230,0.215,0.220,15975500,0.0,0.0,0028.KL
1006,2023-01-31 00:00:00+08:00,0.095,0.095,0.090,0.090,591600,0.0,0.0,0029.KL

In [15]:
find.rename(columns = {0: 'stockDate', 1: 'stockOpen', 2: 'stockHigh', 3: 'stockLow', 4: 'stockClose', 5: 'stockVolume', 6: 'stockDividend', 7: 'stockSplits', 8: 'stockCode', 9: 'stockCompanyName'}, inplace = True)

In [16]:
find

,stockDate,stockOpen,stockHigh,stockLow,stockClose,stockVolume,stockDividend,stockSplits,stockCode
0,2023-01-30 00:00:00+08:00,1.215,1.215,1.215,1.215,0,0.0,0.0,0824EA.KL
1,2023-01-31 00:00:00+08:00,1.215,1.215,1.215,1.215,0,0.0,0.0,0824EA.KL
2,2023-01-30 00:00:00+08:00,0.845,0.845,0.845,0.845,0,0.0,0.0,0825EA.KL
3,2023-01-31 00:00:00+08:00,0.845,0.845,0.845,0.845,0,0.0,0.0,0825EA.KL
4,2023-01-30 00:00:00+08:00,1.670,1.670,1.670,1.670,300,0.0,0.0,0827EA.KL
...,...,...,...,...,...,...,...,...,...
1002,2023-01-31 00:00:00+08:00,0.350,0.350,0.345,0.345,1267900,0.0,0.0,0024.KL
1003,2023-01-31 00:00:00+08:00,0.565,0.580,0.560,0.565,1300300,0.0,0.0,0025.KL
1004,2023-01-31 00:00:00+08:00,0.120,0.120,0.120,0.120,977500,0.0,0.0,0026.KL
1005,2023-01-31 00:00:00+08:00,0.220,0.230,0.215,0.220,15975500,0.0,0.0,0028.KL
1006,2023-01-31 00:00:00+08:00,0.095,0.095,0.090,0.090,591600,0.0,0.0,0029.KL

In [17]:
find['stockCode']=find['stockCode'].str.slice(0, -3)

In [18]:
find

,stockDate,stockOpen,stockHigh,stockLow,stockClose,stockVolume,stockDividend,stockSplits,stockCode
0,2023-01-30 00:00:00+08:00,1.215,1.215,1.215,1.215,0,0.0,0.0,0824EA
1,2023-01-31 00:00:00+08:00,1.215,1.215,1.215,1.215,0,0.0,0.0,0824EA
2,2023-01-30 00:00:00+08:00,0.845,0.845,0.845,0.845,0,0.0,0.0,0825EA
3,2023-01-31 00:00:00+08:00,0.845,0.845,0.845,0.845,0,0.0,0.0,0825EA
4,2023-01-30 00:00:00+08:00,1.670,1.670,1.670,1.670,300,0.0,0.0,0827EA
...,...,...,...,...,...,...,...,...,...
1002,2023-01-31 00:00:00+08:00,0.350,0.350,0.345,0.345,1267900,0.0,0.0,0024
1003,2023-01-31 00:00:00+08:00,0.565,0.580,0.560,0.565,1300300,0.0,0.0,0025
1004,2023-01-31 00:00:00+08:00,0.120,0.120,0.120,0.120,977500,0.0,0.0,0026
1005,2023-01-31 00:00:00+08:00,0.220,0.230,0.215,0.220,15975500,0.0,0.0,0028
1006,2023-01-31 00:00:00+08:00,0.095,0.095,0.090,0.090,591600,0.0,0.0,0029

In [19]:
del find['stockDividend']

In [20]:
del find['stockSplits']

In [21]:
del find['stockVolume']

In [22]:
find

,stockDate,stockOpen,stockHigh,stockLow,stockClose,stockCode
0,2023-01-30 00:00:00+08:00,1.215,1.215,1.215,1.215,0824EA
1,2023-01-31 00:00:00+08:00,1.215,1.215,1.215,1.215,0824EA
2,2023-01-30 00:00:00+08:00,0.845,0.845,0.845,0.845,0825EA
3,2023-01-31 00:00:00+08:00,0.845,0.845,0.845,0.845,0825EA
4,2023-01-30 00:00:00+08:00,1.670,1.670,1.670,1.670,0827EA
...,...,...,...,...,...,...
1002,2023-01-31 00:00:00+08:00,0.350,0.350,0.345,0.345,0024
1003,2023-01-31 00:00:00+08:00,0.565,0.580,0.560,0.565,0025
1004,2023-01-31 00:00:00+08:00,0.120,0.120,0.120,0.120,0026
1005,2023-01-31 00:00:00+08:00,0.220,0.230,0.215,0.220,0028
1006,2023-01-31 00:00:00+08:00,0.095,0.095,0.090,0.090,0029

In [23]:
find['stockOpen']=find['stockOpen'].round(3)
find['stockHigh']=find['stockHigh'].round(3)
find['stockLow']=find['stockLow'].round(3)
find['stockClose']=find['stockClose'].round(3)

In [24]:
find[find['stockCode']=='7152']

,stockDate,stockOpen,stockHigh,stockLow,stockClose,stockCode
782,2023-01-31 00:00:00+08:00,0.725,0.725,0.72,0.72,7152

In [25]:
find

,stockDate,stockOpen,stockHigh,stockLow,stockClose,stockCode
0,2023-01-30 00:00:00+08:00,1.215,1.215,1.215,1.215,0824EA
1,2023-01-31 00:00:00+08:00,1.215,1.215,1.215,1.215,0824EA
2,2023-01-30 00:00:00+08:00,0.845,0.845,0.845,0.845,0825EA
3,2023-01-31 00:00:00+08:00,0.845,0.845,0.845,0.845,0825EA
4,2023-01-30 00:00:00+08:00,1.670,1.670,1.670,1.670,0827EA
...,...,...,...,...,...,...
1002,2023-01-31 00:00:00+08:00,0.350,0.350,0.345,0.345,0024
1003,2023-01-31 00:00:00+08:00,0.565,0.580,0.560,0.565,0025
1004,2023-01-31 00:00:00+08:00,0.120,0.120,0.120,0.120,0026
1005,2023-01-31 00:00:00+08:00,0.220,0.230,0.215,0.220,0028
1006,2023-01-31 00:00:00+08:00,0.095,0.095,0.090,0.090,0029

In [26]:
find.dtypes

stockDate      object
stockOpen     float64
stockHigh     float64
stockLow      float64
stockClose    float64
stockCode      object
dtype: object

In [27]:
find['stockDate'] = pd.to_datetime(find["stockDate"])

find['stockDate'] = pd.to_datetime(find["stockDate"].dt.strftime('%Y-%m-%d'))

In [28]:
find

      stockDate  stockOpen  stockHigh  stockLow  stockClose stockCode
0    2023-01-30      1.215      1.215     1.215       1.215    0824EA
1    2023-01-31      1.215      1.215     1.215       1.215    0824EA
2    2023-01-30      0.845      0.845     0.845       0.845    0825EA
3    2023-01-31      0.845      0.845     0.845       0.845    0825EA
4    2023-01-30      1.670      1.670     1.670       1.670    0827EA
...         ...        ...        ...       ...         ...       ...
1002 2023-01-31      0.350      0.350     0.345       0.345      0024
1003 2023-01-31      0.565      0.580     0.560       0.565      0025
1004 2023-01-31      0.120      0.120     0.120       0.120      0026
1005 2023-01-31      0.220      0.230     0.215       0.220      0028
1006 2023-01-31      0.095      0.095     0.090       0.090      0029

[1007 rows x 6 columns]

In [29]:
find.dtypes

stockDate     datetime64[ns]
stockOpen            float64
stockHigh            float64
stockLow             float64
stockClose           float64
stockCode             object
dtype: object

In [30]:
len(find['stockCode'].unique())

988

In [31]:
len(find['stockDate'].unique())

2

In [32]:
# connect to database
conn_string = 'postgresql://postgres:Jiawei1105@localhost/dividendinvesting'

#connect
db = create_engine(conn_string)
conn = db.connect()


find.to_sql("daily_stock", con=conn, if_exists='append',
          index=False,index_label=False)
conn = psycopg2.connect(conn_string)
conn.autocommit = True
cursor = conn.cursor()

# sql1 = '''select * from stock_price;'''
# cursor.execute(sql1)
# count=0
# for i in cursor.fetchall():
#     count+=1
#     print(i)

conn.commit()
conn.close()

In [33]:
last record: 1158887

SyntaxError: invalid syntax (747109353.py, line 1)