In [1]:
# import modules
import pandas as pd

In [2]:
df = pd.read_csv('stock_code.csv')

In [3]:
df

                         stock_company stock_code
0    7-ELEVEN MALAYSIA HOLDINGS BERHAD    5250.KL
1         ABF MALAYSIA BOND INDEX FUND  0800EA.KL
2                   ABLE GLOBAL BERHAD    7167.KL
3                     ABLEGROUP BERHAD    7086.KL
4                    ABM FUJIYA BERHAD    5198.KL
..                                 ...        ...
985             YX PRECIOUS METALS BHD    0250.KL
986                       ZECON BERHAD    7028.KL
987                       ZELAN BERHAD    2283.KL
988      ZEN TECH INTERNATIONAL BERHAD    0094.KL
989         ZHULIAN CORPORATION BERHAD    5131.KL

[990 rows x 2 columns]

In [4]:
df['stock_code'] = df['stock_code'].str.slice(0, -3)

In [5]:
df

                         stock_company stock_code
0    7-ELEVEN MALAYSIA HOLDINGS BERHAD       5250
1         ABF MALAYSIA BOND INDEX FUND     0800EA
2                   ABLE GLOBAL BERHAD       7167
3                     ABLEGROUP BERHAD       7086
4                    ABM FUJIYA BERHAD       5198
..                                 ...        ...
985             YX PRECIOUS METALS BHD       0250
986                       ZECON BERHAD       7028
987                       ZELAN BERHAD       2283
988      ZEN TECH INTERNATIONAL BERHAD       0094
989         ZHULIAN CORPORATION BERHAD       5131

[990 rows x 2 columns]

In [6]:
import psycopg2
import pandas as pd
from sqlalchemy import create_engine

In [7]:
conn_string = 'postgresql://postgres:Jiawei1105@localhost/dividendinvesting'

In [8]:
db = create_engine(conn_string)
conn = db.connect()

In [9]:
df.to_sql('stockInfo', con=conn, if_exists='replace',
          index=False)
conn = psycopg2.connect(conn_string
                        )
conn.autocommit = True
cursor = conn.cursor()

# conn.commit()
conn.close()