In [1]:
from selenium import webdriver
from bs4 import BeautifulSoup as bs
from datetime import datetime
import pandas as pd
import time
import random
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings("ignore")
from selenium.webdriver.chrome.options import Options

In [2]:
df = pd.read_csv('div_info_final.csv')
df

,Unnamed: 0,Announced,Financial Year,Subject,EX Date,Payment Date,Amount,Indicator,Unnamed: 7,Stock Code,Year,Status
0,0,20 Apr 2022,2021-12-31,Interim Dividend,10 May 2022,27 May 2022,0.0260,Currency,View,5250,2021,Y
1,1,15 Apr 2021,2020-12-31,Interim Dividend,05 May 2021,21 May 2021,0.0160,Currency,View,5250,2020,Y
2,2,22 Apr 2020,2019-12-31,Interim Dividend,12 May 2020,28 May 2020,0.0230,Currency,View,5250,2019,Y
3,3,29 Apr 2019,2018-12-31,Interim Dividend,09 May 2019,23 May 2019,0.0240,Currency,View,5250,2018,Y
4,4,01 Dec 2022,2022-12-31,Income Distribution,23 Dec 2022,12 Jan 2023,0.0385,Currency,View,0800EA,2022,Y
...,...,...,...,...,...,...,...,...,...,...,...,...
4001,4001,23 Jan 2019,2018-11-30,Interim Dividend,11 Feb 2019,06 Mar 2019,0.0200,Currency,View,5131,2018,Y
4002,4002,23 Jan 2019,2018-11-30,Special Dividend,11 Feb 2019,06 Mar 2019,0.0200,Currency,View,5131,2018,Y
4003,4003,17 Oct 2018,2018-11-30,Interim Dividend,02 Nov 2018,28 Nov 2018,0.0200,Currency,View,5131,2018,Y
4004,4004,18 Jul 2018,2018-11-30,Second interim dividend,15 Aug 2018,12 Sep 2018,0.0200,Currency,View,5131,2018,Y
4005,4005,10 May 2018,2018-11-30,First Interim Dividend,14 May 2018,08 Jun 2018,0.0200,Currency,View,5131,2018,Y

In [3]:
stock_code = df['Stock Code'].unique()

In [4]:
len(stock_code)

634

In [5]:
quarter_rep=pd.DataFrame()

driver = webdriver.Chrome()

#driver = webdriver.Chrome()
driver.implicitly_wait(604800)
new_list=[]

stock=['7148']
for s in stock_code:
    try:
        url='https://www.klsescreener.com/v2/stocks/view/'+s
        driver.get(url)
        p= driver.find_element(By.XPATH,'//*[@id="myTab"]/li[3]/a')
        driver.execute_script("arguments[0].click();",p)
        content = driver.page_source
        soup=bs(content)

        # scrap table

        tables = soup.find_all('table')
        # Step 3: Read tables with Pandas read_html()
        dfs = pd.read_html(str(tables))

        i = 0
        has_found = False
        while i < len(dfs) and not has_found:
            n = 0
            while n < len(dfs[i].columns):
                if dfs[i].columns[n] == 'ROE':
                    has_found = True
                n += 1
            i += 1
        if has_found:
            df=dfs[i-1]
            df2=df[['EPS','DPS','NTA','Revenue','P/L','Quarter','Q Date','Financial Year','Announced','ROE']]
            df2['Financial Year'] = pd.to_datetime(df['Financial Year'])
            df2['Financial Year']= pd.to_datetime(df2['Financial Year'].dt.strftime('%Y-%m-%d'))
            filtered_df = df2.loc[(df2['Financial Year'] >= '2018-01-01')
                          & (df2['Financial Year'] < '2023-12-31')]
            filtered_df.reset_index(drop=True, inplace=True)
            filtered_df.drop(filtered_df[filtered_df['EPS'] == filtered_df['Revenue']].index, inplace = True)
            filtered_df.reset_index(drop=True, inplace=True)
            filtered_df['Stock Code']=s
            filtered_df['Year'] = filtered_df['Financial Year'].dt.strftime("%Y")
            quarter_rep = quarter_rep.append(filtered_df, ignore_index=True)
            print("Stock code :"+s+" yes")
        else:
            print("Stock code :"+s+" has no  annual report")
    except:
        print("Stock code :"+s+" cannot scrap")
    # Program to generate a random number between 5 to 30
    # importing the random module
    sec = random.randint(3, 10)

    # program scrapping waiting time
    time.sleep(sec)  # Seconds

Stock code :5250 yes
Stock code :0800EA yes
Stock code :7167 yes
Stock code :03028 yes
Stock code :0218 yes
Stock code :1481 yes
Stock code :5281 yes
Stock code :9148 yes
Stock code :7191 yes
Stock code :0181 yes
Stock code :6599 yes
Stock code :5139 yes
Stock code :5185 yes
Stock code :7078 yes
Stock code :0209 yes
Stock code :2658 yes
Stock code :5116 yes
Stock code :2674 yes
Stock code :2488 yes
Stock code :1163 yes
Stock code :03051 yes
Stock code :5269 yes
Stock code :5127 yes
Stock code :5293 yes
Stock code :5120 yes
Stock code :03011 yes
Stock code :1015 yes
Stock code :6351 yes
Stock code :7083 yes
Stock code :6556 yes
Stock code :5568 yes
Stock code :5088 yes
Stock code :7090 yes
Stock code :5015 yes
Stock code :6432 yes
Stock code :7214 yes
Stock code :7722 yes
Stock code :7129 yes
Stock code :0105 yes
Stock code :7162 yes
Stock code :6399 yes
Stock code :8176 yes
Stock code :7048 yes
Stock code :5130 yes
Stock code :7099 yes
Stock code :5302 yes
Stock code :5204 yes
Stock code :7579 yes
Stock code :6888 yes
Stock code :5106 yes
Stock code :2305 yes
Stock code :5021 yes
Stock code :03012 yes
Stock code :5258 yes
Stock code :1899 yes
Stock code :0187 yes
Stock code :5196 yes
Stock code :5248 yes
Stock code :7668 yes
Stock code :6173 yes
Stock code :0195 yes
Stock code :5032 yes
Stock code :0179 yes
Stock code :5069 yes
Stock code :0168 yes
Stock code :9288 yes
Stock code :8133 yes
Stock code :2771 yes
Stock code :5254 yes
Stock code :5100 yes
Stock code :0011 yes
Stock code :4162 yes
Stock code :1818 yes
Stock code :2828 yes
Stock code :7174 yes
Stock code :0191 yes
Stock code :7154 yes
Stock code :2852 yes
Stock code :7128 yes
Stock code :5105 yes
Stock code :5099 yes
Stock code :5180 yes
Stock code :0163 yes
Stock code :5257 yes
Stock code :2836 yes
Stock code :7076 yes
Stock code :7035 yes
Stock code :03024 yes
Stock code :0238 yes
Stock code :0243 yes
Stock code :5195 yes
Stock code :8982 yes
Stock code :7209 yes
Stock code :5273 yes
Stock code :1929 yes
Stock code :5007 yes
Stock code :5797 yes
Stock code :7016 yes
Stock code :1023 yes
Stock code :5104 yes
Stock code :7117 yes
Stock code :7202 yes
Stock code :0246 yes
Stock code :2127 yes
Stock code :7195 yes
Stock code :5136 yes
Stock code :8044 yes
Stock code :5049 yes
Stock code :6718 yes
Stock code :8591 yes
Stock code :03016 yes
Stock code :5094 yes
Stock code :5301 yes
Stock code :9423 yes
Stock code :7157 yes
Stock code :5184 yes
Stock code :7204 yes
Stock code :4456 yes
Stock code :5276 yes
Stock code :5216 yes
Stock code :5141 yes
Stock code :5132 yes
Stock code :7277 yes
Stock code :6947 yes
Stock code :0131 yes
Stock code :7528 yes
Stock code :5908 yes
Stock code :7169 yes
Stock code :0205 yes
Stock code :1619 yes
Stock code :7233 yes
Stock code :7148 yes
Stock code :3948 yes
Stock code :3026 yes
Stock code :3417 yes
Stock code :2143 yes
Stock code :8206 yes
Stock code :5283 yes
Stock code :0239 yes
Stock code :0227 yes
Stock code :5253 yes
Stock code :5036 yes
Stock code :5208 yes
Stock code :8877 yes
Stock code :9016 yes
Stock code :5228 yes
Stock code :0090 yes
Stock code :03025 yes
Stock code :7149 yes
Stock code :5056 yes
Stock code :8613 yes
Stock code :7217 yes
Stock code :0100 yes
Stock code :5081 yes
Stock code :6815 yes
Stock code :5101 yes
Stock code :0190 yes
Stock code :7249 yes
Stock code :0065 yes
Stock code :2984 yes
Stock code :7047 yes
Stock code :5029 yes
Stock code :5306 yes
Stock code :0084 yes
Stock code :7229 yes
Stock code :2755 yes
Stock code :8605 yes
Stock code :5222 yes
Stock code :6939 yes
Stock code :0149 yes
Stock code :03026 yes
Stock code :3107 yes
Stock code :0231 yes
Stock code :7210 yes
Stock code :5197 yes
Stock code :0157 yes
Stock code :9172 yes
Stock code :5277 yes
Stock code :3689 yes
Stock code :0128 yes
Stock code :0820EA yes
Stock code :5226 yes
Stock code :9261 yes
Stock code :0206 yes
Stock code :5398 yes
Stock code :5209 yes
Stock code :0198 yes
Stock code :0078 yes
Stock code :0104 yes
Stock code :3182 yes
Stock code :4715 yes
Stock code :2291 yes
Stock code :3204 yes
Stock code :0039 yes
Stock code :0021 yes
Stock code :5220 yes
Stock code :7022 yes
Stock code :5020 yes
Stock code :7382 yes
Stock code :5649 yes
Stock code :2135 yes
Stock code :5592 yes
Stock code :0136 yes
Stock code :9962 yes
Stock code :5102 yes
Stock code :1503 yes
Stock code :0237 yes
Stock code :3034 yes
Stock code :5138 yes
Stock code :2062 yes
Stock code :7501 yes
Stock code :5008 yes
Stock code :5168 yes
Stock code :3255 yes
Stock code :5121 yes
Stock code :4324 yes
Stock code :5095 yes
Stock code :5151 yes
Stock code :3298 yes
Stock code :5072 yes
Stock code :5199 yes
Stock code :8443 yes
Stock code :5160 yes
Stock code :5819 yes
Stock code :5274 yes
Stock code :1082 yes
Stock code :3301 yes
Stock code :5291 yes
Stock code :0228 yes
Stock code :5024 yes
Stock code :4251 yes
Stock code :5084 yes
Stock code :5108 yes
Stock code :5255 yes
Stock code :9687 yes
Stock code :0023 yes
Stock code :5606 yes
Stock code :5299 yes
Stock code :5227 yes
Stock code :5225 yes
Stock code :3336 yes
Stock code :7222 yes
Stock code :0166 yes
Stock code :2607 yes
Stock code :5295 yes
Stock code :6262 yes
Stock code :3379 yes
Stock code :0192 yes
Stock code :5614 yes
Stock code :1961 yes
Stock code :5249 yes
Stock code :5107 yes
Stock code :8834 yes
Stock code :5175 yes
Stock code :0024 yes
Stock code :4383 yes
Stock code :7152 yes
Stock code :0058 yes
Stock code :5161 yes
Stock code :5673 yes
Stock code :8931 yes
Stock code :0146 yes
Stock code :0127 yes
Stock code :6769 yes
Stock code :5192 yes
Stock code :5247 yes
Stock code :0054 yes
Stock code :7216 yes
Stock code :3476 yes
Stock code :7199 yes
Stock code :0193 yes
Stock code :0151 yes
Stock code :7323 yes
Stock code :6483 yes
Stock code :7161 yes
Stock code :9334 yes
Stock code :6203 yes
Stock code :7062 yes
Stock code :5371 yes
Stock code :0210 yes
Stock code :5027 yes
Stock code :5171 yes
Stock code :5280 yes
Stock code :9466 yes
Stock code :5235SS yes
Stock code :2453 yes
Stock code :6971 yes
Stock code :7153 yes
Stock code :0002 yes
Stock code :5878 yes
Stock code :7130 yes
Stock code :1996 yes
Stock code :0176 yes
Stock code :2445 yes
Stock code :6874 yes
Stock code :2186 yes
Stock code :6491 yes
Stock code :7033 yes
Stock code :5843 yes
Stock code :7179 yes
Stock code :3174 yes
Stock code :9385 yes
Stock code :9326 yes
Stock code :8494 yes
Stock code :5789 yes
Stock code :9881 yes
Stock code :8079 yes
Stock code :5232 yes
Stock code :6633 yes
Stock code :7089 yes
Stock code :03047 yes
Stock code :6645 yes
Stock code :5284 yes
Stock code :8303 yes
Stock code :8621 yes
Stock code :7085 yes
Stock code :5143 yes
Stock code :9199 yes
Stock code :1198 yes
Stock code :7087 yes
Stock code :3859 yes
Stock code :8583 yes
Stock code :5264 yes
Stock code :1155 yes
Stock code :3662 yes
Stock code :5014 yes
Stock code :1171 yes
Stock code :5916 yes
Stock code :5077 yes
Stock code :0155 yes
Stock code :3867 yes
Stock code :1651 yes
Stock code :4936 yes
Stock code :6181 yes
Stock code :03015 yes
Stock code :1058 yes
Stock code :3514 yes
Stock code :7029 yes
Stock code :0189 yes
Stock code :5236 yes
Stock code :03019 yes
Stock code :4022 yes
Stock code :6012 yes
Stock code :5983 yes
Stock code :5090 yes
Stock code :4502 yes
Stock code :3069 yes
Stock code :5129 yes
Stock code :3778 yes
Stock code :5011 yes
Stock code :0207 yes
Stock code :03005 yes
Stock code :6149 yes
Stock code :7595 yes
Stock code :5026 yes
Stock code :5286 yes
Stock code :0126 yes
Stock code :0112 yes
Stock code :5576 yes
Stock code :3816 yes
Stock code :9571 yes
Stock code :8893 yes
Stock code :6114 yes
Stock code :03027 yes
Stock code :0113 yes
Stock code :6459 yes
Stock code :0229 yes
Stock code :5237 yes
Stock code :5296 yes
Stock code :5202 yes
Stock code :0213 yes
Stock code :5152 yes
Stock code :3883 yes
Stock code :5703 yes
Stock code :3913 yes
Stock code :0138 yes
Stock code :5087 yes
Stock code :0821EA yes
Stock code :0824EA yes
Stock code :0825EA yes
Stock code :5275 yes
Stock code :0108 yes
Stock code :5073 yes
Stock code :0056 yes
Stock code :2038 yes
Stock code :4707 yes
Stock code :7060 yes
Stock code :0083 yes
Stock code :03006 yes
Stock code :0201 yes
Stock code :5066 yes
Stock code :4944 yes
Stock code :5533 yes
Stock code :0049 yes
Stock code :0172 yes
Stock code :7140 yes
Stock code :5298 cannot scrap
Stock code :03041 yes
Stock code :0035 yes
Stock code :0040 yes
Stock code :0222 yes
Stock code :7107 yes
Stock code :4006 yes
Stock code :5827 yes
Stock code :5065 yes
Stock code :5053 yes
Stock code :0053 yes
Stock code :7225 yes
Stock code :7095 yes
Stock code :6009 yes
Stock code :7052 yes
Stock code :4081 yes
Stock code :3719 yes
Stock code :8419 yes
Stock code :5125 yes
Stock code :5022 yes
Stock code :1724 yes
Stock code :5212 yes
Stock code :5041 yes
Stock code :6068 yes
Stock code :5271 yes
Stock code :5231 yes
Stock code :9997 yes
Stock code :7160 yes
Stock code :0186 yes
Stock code :5436 yes
Stock code :8311 yes
Stock code :5219 yes
Stock code :0171 yes
Stock code :5133 yes
Stock code :3042 yes
Stock code :5183 yes
Stock code :5681 yes
Stock code :6033 yes
Stock code :8117 yes
Stock code :7081 yes
Stock code :5622 yes
Stock code :1902 yes
Stock code :9598 yes
Stock code :5075 yes
Stock code :7172 yes
Stock code :7088 yes
Stock code :5080 yes
Stock code :03031 yes
Stock code :4634 yes
Stock code :7237 yes
Stock code :4065 yes
Stock code :8869 yes
Stock code :9873 yes
Stock code :0822EA yes
Stock code :7201 yes
Stock code :8966 yes
Stock code :5070 yes
Stock code :1295 yes
Stock code :8273 yes
Stock code :6807 yes
Stock code :7134 yes
Stock code :0196 yes
Stock code :7084 yes
Stock code :0202 yes
Stock code :5272 yes
Stock code :9296 yes
Stock code :03036 yes
Stock code :0032 yes
Stock code :0219 yes
Stock code :7232 yes
Stock code :9946 yes
Stock code :0106 yes
Stock code :0037 yes
Stock code :9954 yes
Stock code :1066 yes
Stock code :5278 yes
Stock code :7006 yes
Stock code :2542 yes
Stock code :9741 yes
Stock code :03039 yes
Stock code :7803 yes
Stock code :8664 yes
Stock code :0183 yes
Stock code :9822 yes
Stock code :5147 yes
Stock code :5218 yes
Stock code :7811 yes
Stock code :9237 yes
Stock code :5126 yes
Stock code :5135 yes
Stock code :5207 yes
Stock code :0158 yes
Stock code :7247 yes
Stock code :0099 yes
Stock code :4731 yes
Stock code :8125 yes
Stock code :0028 yes
Stock code :0212 yes
Stock code :7053 yes
Stock code :9792 yes
Stock code :2224 yes
Stock code :5305 yes
Stock code :5123 yes
Stock code :5279 yes
Stock code :0251 yes
Stock code :5517 yes
Stock code :5173 yes
Stock code :6017 yes
Stock code :7246 yes
Stock code :4197 yes
Stock code :5285 yes
Stock code :5288 yes
Stock code :7155 yes
Stock code :03008 yes
Stock code :7248 yes
Stock code :03023 yes
Stock code :03054 yes
Stock code :0215 yes
Stock code :5242 yes
Stock code :0093 yes
Stock code :5134 yes
Stock code :0225 yes
Stock code :5665 yes
Stock code :1562 yes
Stock code :0216 yes
Stock code :7103 yes
Stock code :6084 yes
Stock code :03049 yes
Stock code :5006 yes
Stock code :0080 yes
Stock code :7207 yes
Stock code :2569 yes
Stock code :03050 yes
Stock code :3743 yes
Stock code :5211 yes
Stock code :5263 yes
Stock code :5176 yes
Stock code :0001 yes
Stock code :03033 yes
Stock code :7235 yes
Stock code :7106 yes
Stock code :03018 yes
Stock code :6521 yes
Stock code :5303 yes
Stock code :6139 yes
Stock code :7082 yes
Stock code :1538 yes
Stock code :0050 yes
Stock code :7228 yes
Stock code :5012 yes
Stock code :8524 yes
Stock code :5191 yes
Stock code :4405 yes
Stock code :5140 yes
Stock code :0211 yes
Stock code :0221 yes
Stock code :2054 yes
Stock code :5289 yes
Stock code :7439 yes
Stock code :7200 yes
Stock code :0230 yes
Stock code :4863 yes
Stock code :5347 yes
Stock code :9369 yes
Stock code :7252 yes
Stock code :0089 yes
Stock code :8702 yes
Stock code :5112 yes
Stock code :7034 yes
Stock code :0012 yes
Stock code :7374 yes
Stock code :7854 yes
Stock code :5031 yes
Stock code :8397 yes
Stock code :5239 yes
Stock code :0101 yes
Stock code :7230 yes
Stock code :7285 yes
Stock code :5010 yes
Stock code :7113 yes
Stock code :03013 yes
Stock code :5111 yes
Stock code :7173 yes
Stock code :0837EA yes
Stock code :0829EA yes
Stock code :0829EB yes
Stock code :5054 yes
Stock code :0199 yes
Stock code :5401 yes
Stock code :9059 yes
Stock code :5297 yes
Stock code :5230 yes
Stock code :5167 yes
Stock code :7100 yes
Stock code :03043 yes
Stock code :1368 yes
Stock code :7137 yes
Stock code :7227 yes
Stock code :4588 yes
Stock code :03017 yes
Stock code :7091 yes
Stock code :5005 yes
Stock code :2593 yes
Stock code :2089 yes
Stock code :7133 yes
Stock code :0247 yes
Stock code :5200 yes
Stock code :5110 yes
Stock code :7757 yes
Stock code :5292 yes
Stock code :6963 yes
Stock code :0120 yes
Stock code :0097 yes
Stock code :0232 yes
Stock code :5162 yes
Stock code :5142 yes
Stock code :7203 yes
Stock code :5016 yes
Stock code :9679 yes
Stock code :0197 yes
Stock code :7231 yes
Stock code :5246 yes
Stock code :5009 yes
Stock code :0008 yes
Stock code :7050 yes
Stock code :7025 yes
Stock code :4243 yes
Stock code :5267 yes
Stock code :7178 yes
Stock code :5300 yes
Stock code :0248 yes
Stock code :7293 yes
Stock code :3158 yes
Stock code :5159 yes
Stock code :4677 yes
Stock code :5109 yes
Stock code :6742 yes
Stock code :5131 yes

In [6]:
quarter_rep

,EPS,DPS,NTA,Revenue,P/L,Quarter,Q Date,Financial Year,Announced,ROE,Stock Code,Year
0,1.21,0.000,0.1106,988.21m,13.66m,3,2022-09-30,2022-12-31,2022-11-29,10.9%,5250,2022
1,2.29,0.000,0.0984,943.67m,25.77m,2,2022-06-30,2022-12-31,2022-08-25,23.3%,5250,2022
2,2.16,0.000,0.1015,839.98m,24.38m,1,2022-03-31,2022-12-31,2022-05-26,21.3%,5250,2022
3,2.60,0.000,0.0799,795.06m,29.24m,4,2021-12-31,2021-12-31,2022-02-24,32.5%,5250,2021
4,0.13,0.000,0.0522,680.22m,1.44m,3,2021-09-30,2021-12-31,2021-11-25,2.5%,5250,2021
...,...,...,...,...,...,...,...,...,...,...,...,...
11760,2.35,2.000,1.2851,39.45m,10.79m,1,2019-02-28,2019-11-30,2019-04-17,1.8%,5131,2019
11761,3.44,4.000,1.2934,45.03m,15.83m,4,2018-11-30,2018-11-30,2019-01-23,2.7%,5131,2018
11762,3.36,2.000,1.2731,51.02m,17.11m,3,2018-08-31,2018-11-30,2018-10-17,2.6%,5131,2018
11763,2.62,2.000,1.2559,44.02m,12.07m,2,2018-05-31,2018-11-30,2018-07-18,2.1%,5131,2018
11764,1.96,2.000,1.2540,43.34m,9.02m,1,2018-02-28,2018-11-30,2018-04-18,1.6%,5131,2018

In [11]:
quarter_rep.to_csv("div_quarter_report.csv")

In [9]:
quarter_rep.sample(20)

,EPS,DPS,NTA,Revenue,P/L,Quarter,Q Date,Financial Year,Announced,ROE,Stock Code,Year
1726,2.97,0.010,0.7100,350.95m,26.26m,1,2022-03-31,2022-12-31,2022-05-25,4.2%,5273,2022
11382,-37.98,0.000,4.2400,83.59m,-24.73m,4,2020-12-31,2020-12-31,2021-02-23,-9.0%,5016,2020
3164,1.28,0.000,0.8900,73.41m,6.83m,1,2017-12-31,2018-09-30,2018-02-26,1.4%,6939,2018
1418,-0.50,0.000,0.2632,8.04m,-898.00k,2,2020-06-30,2020-12-31,2020-08-25,-1.9%,0191,2020
4868,-0.84,0.000,0.4323,276.85m,-17.73m,1,2020-12-31,2021-09-30,2021-02-25,-1.9%,5161,2021
10365,1.48,0.000,1.6154,26.62m,592.00k,3,2021-10-31,2022-01-31,2021-12-30,0.9%,7439,2022
373,1.56,2.350,1.0627,23.19m,9.07m,1,2019-03-31,2019-12-31,2019-05-29,1.5%,5269,2019
8881,10.94,17.650,6.7400,3.08b,438.63m,4,2020-12-31,2020-12-31,2021-02-26,1.6%,1066,2020
8578,2.36,0.000,1.4900,45.75m,4.44m,2,2021-06-30,2021-12-31,2021-08-30,1.6%,8273,2021
417,-2.18,1.420,1.1999,24.56m,-14.91m,4,2021-03-31,2021-03-31,2021-04-20,-1.8%,5120,2021
8745,0.73,0.000,0.1970,36.20m,5.66m,1,2020-09-30,2021-06-30,2020-11-19,3.7%,0032,2021
10753,7.69,10.000,3.0800,171.43m,11.81m,1,2020-03-31,2020-12-31,2020-05-29,2.5%,5010,2020
11113,1.99,2.000,1.9678,311.93m,14.45m,2,2019-06-30,2019-12-31,2019-08-06,1.0%,5005,2019
3425,0.75,0.000,0.6200,89.17m,4.62m,4,2018-12-31,2018-12-31,2019-02-27,1.2%,0206,2018
8117,22.40,20.000,7.2908,2.96b,60.53m,4,2021-12-31,2021-12-31,2022-02-24,3.1%,3042,2021
1401,0.06,0.000,0.6900,443.74m,388.00k,4,2019-09-30,2019-09-30,2019-11-28,0.1%,7174,2019
3081,13.59,0.000,3.0100,164.55m,30.08m,3,2018-09-30,2018-12-31,2018-11-27,4.5%,7229,2018
2536,-0.48,0.000,0.3700,4.47m,-2.29m,1,2021-03-31,2021-12-31,2021-05-24,-1.3%,2143,2021
7415,0.37,0.000,0.4025,21.11m,912.00k,3,2020-09-30,2020-12-31,2020-11-24,0.9%,0049,2020
116,-0.35,0.000,1.5500,5.95m,-67.00k,1,2019-03-31,2019-12-31,2019-05-30,-0.2%,9148,2019

In [122]:
df2=pd.read_csv("div_quarter_report.csv")

In [123]:
df2

,Unnamed: 0,EPS,DPS,NTA,Revenue,P/L,Quarter,Q Date,Financial Year,Announced,ROE,Stock Code,Year
0,0,1.21,0.0,0.1106,988.21m,13.66m,3,2022-09-30,2022-12-31,2022-11-29,10.9%,5250,2022
1,1,2.29,0.0,0.0984,943.67m,25.77m,2,2022-06-30,2022-12-31,2022-08-25,23.3%,5250,2022
2,2,2.16,0.0,0.1015,839.98m,24.38m,1,2022-03-31,2022-12-31,2022-05-26,21.3%,5250,2022
3,3,2.60,0.0,0.0799,795.06m,29.24m,4,2021-12-31,2021-12-31,2022-02-24,32.5%,5250,2021
4,4,0.13,0.0,0.0522,680.22m,1.44m,3,2021-09-30,2021-12-31,2021-11-25,2.5%,5250,2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...
11760,11760,2.35,2.0,1.2851,39.45m,10.79m,1,2019-02-28,2019-11-30,2019-04-17,1.8%,5131,2019
11761,11761,3.44,4.0,1.2934,45.03m,15.83m,4,2018-11-30,2018-11-30,2019-01-23,2.7%,5131,2018
11762,11762,3.36,2.0,1.2731,51.02m,17.11m,3,2018-08-31,2018-11-30,2018-10-17,2.6%,5131,2018
11763,11763,2.62,2.0,1.2559,44.02m,12.07m,2,2018-05-31,2018-11-30,2018-07-18,2.1%,5131,2018
11764,11764,1.96,2.0,1.2540,43.34m,9.02m,1,2018-02-28,2018-11-30,2018-04-18,1.6%,5131,2018

In [124]:
del df2['Unnamed: 0']
del df2['Revenue']
del df2['P/L']
del df2['Quarter']
del df2['Q Date']

In [125]:
df2

        EPS  DPS     NTA Financial Year   Announced    ROE Stock Code  Year
0      1.21  0.0  0.1106     2022-12-31  2022-11-29  10.9%       5250  2022
1      2.29  0.0  0.0984     2022-12-31  2022-08-25  23.3%       5250  2022
2      2.16  0.0  0.1015     2022-12-31  2022-05-26  21.3%       5250  2022
3      2.60  0.0  0.0799     2021-12-31  2022-02-24  32.5%       5250  2021
4      0.13  0.0  0.0522     2021-12-31  2021-11-25   2.5%       5250  2021
...     ...  ...     ...            ...         ...    ...        ...   ...
11760  2.35  2.0  1.2851     2019-11-30  2019-04-17   1.8%       5131  2019
11761  3.44  4.0  1.2934     2018-11-30  2019-01-23   2.7%       5131  2018
11762  3.36  2.0  1.2731     2018-11-30  2018-10-17   2.6%       5131  2018
11763  2.62  2.0  1.2559     2018-11-30  2018-07-18   2.1%       5131  2018
11764  1.96  2.0  1.2540     2018-11-30  2018-04-18   1.6%       5131  2018

[11765 rows x 8 columns]

In [126]:
df2.dtypes

EPS               float64
DPS               float64
NTA               float64
Financial Year     object
Announced          object
ROE                object
Stock Code         object
Year                int64
dtype: object

In [127]:
df2.rename(columns={"EPS": "quar_eps", "DPS": "quar_dps", "NTA": "quar_nta", "Financial Year": "quar_financial_year", 
                    "Announced": "quar_annouced_date", "ROE": "quar_roe(%)", "Stock Code": "quar_stock_code", "Year": "quar_year"}, inplace=True)

In [129]:
df2['quar_roe(%)'] = df2['quar_roe(%)'].str.slice(0,-1)

In [130]:
df2

,quar_eps,quar_dps,quar_nta,quar_financial_year,quar_annouced_date,quar_roe(%),quar_stock_code,quar_year
0,1.21,0.0,0.1106,2022-12-31,2022-11-29,10.9,5250,2022
1,2.29,0.0,0.0984,2022-12-31,2022-08-25,23.3,5250,2022
2,2.16,0.0,0.1015,2022-12-31,2022-05-26,21.3,5250,2022
3,2.60,0.0,0.0799,2021-12-31,2022-02-24,32.5,5250,2021
4,0.13,0.0,0.0522,2021-12-31,2021-11-25,2.5,5250,2021
...,...,...,...,...,...,...,...,...
11760,2.35,2.0,1.2851,2019-11-30,2019-04-17,1.8,5131,2019
11761,3.44,4.0,1.2934,2018-11-30,2019-01-23,2.7,5131,2018
11762,3.36,2.0,1.2731,2018-11-30,2018-10-17,2.6,5131,2018
11763,2.62,2.0,1.2559,2018-11-30,2018-07-18,2.1,5131,2018
11764,1.96,2.0,1.2540,2018-11-30,2018-04-18,1.6,5131,2018

In [131]:
df2['quar_roe(%)'] = df2['quar_roe(%)'].apply(pd.to_numeric, errors='coerce')

In [132]:
df2.dtypes

quar_eps               float64
quar_dps               float64
quar_nta               float64
quar_financial_year     object
quar_annouced_date      object
quar_roe(%)            float64
quar_stock_code         object
quar_year                int64
dtype: object

In [133]:
df2['quar_year'] = df2['quar_year'].astype(str)

In [134]:
df2.dtypes

quar_eps               float64
quar_dps               float64
quar_nta               float64
quar_financial_year     object
quar_annouced_date      object
quar_roe(%)            float64
quar_stock_code         object
quar_year               object
dtype: object

In [135]:
df2['quar_financial_year'] = pd.to_datetime(df2['quar_financial_year'])
df2['quar_financial_year'] = pd.to_datetime(df2['quar_financial_year'].dt.strftime('%Y-%m-%d'))

df2['quar_annouced_date'] = pd.to_datetime(df2['quar_annouced_date'])
df2['quar_annouced_date'] = pd.to_datetime(df2['quar_annouced_date'].dt.strftime('%Y-%m-%d'))

In [136]:
df2.dtypes

quar_eps                      float64
quar_dps                      float64
quar_nta                      float64
quar_financial_year    datetime64[ns]
quar_annouced_date     datetime64[ns]
quar_roe(%)                   float64
quar_stock_code                object
quar_year                      object
dtype: object

In [137]:
df2.to_csv("div_quarter_report(Final).csv")